<config>
	<parent-provides>
		<service name="ROM"/>
		<service name="PD"/>
		<service name="CPU"/>
		<service name="LOG"/>
		<service name="Timer"/>
	</parent-provides>

	<service name="Framebuffer">
		<default-policy> <child name="fb_sdl"/> </default-policy> </service>

	<service name="Input">
		<default-policy> <child name="fb_sdl"/> </default-policy> </service>

	<start name="fb_sdl" caps="100">
		<resource name="RAM" quantum="4M"/>
		<provides>
			<service name="Input"/>
			<service name="Framebuffer"/>
		</provides>
		<route> <any-service> <parent/> </any-service> </route>
	</start>
</config>
