config
+ parent-provides
  + service ROM
  + service PD
  + service CPU
  + service LOG
  + service Timer
  + service Capture
  + service Event

+ start fb_sdl | caps: 100 | ram: 32M | ld: no
  + route
    + service Event | + child event_filter | label: sdl
    + any-service   | + parent

+ start event_filter | caps: 80 | ram: 1280K
  + provides | + service Event
  + route
    + service ROM | label: config | + parent | label: event_filter.config
    + service ROM                 | + parent
    + service PD                  | + parent
    + service CPU                 | + parent
    + service LOG                 | + parent
    + service Timer               | + parent
    + service Event               | + parent
-
