<config>
	<parent-provides>
		<service name="ROM"/>
		<service name="PD"/>
		<service name="CPU"/>
		<service name="LOG"/>
		<service name="Timer"/>
	</parent-provides>

	<service name="Framebuffer">
		<default-policy> <child name="fb_sdl"/> </default-policy> </service>

	<service name="Input">
		<default-policy> <child name="input_filter"/> </default-policy> </service>

	<start name="fb_sdl" caps="100" ld="no">
		<resource name="RAM" quantum="4M"/>
		<provides>
			<service name="Input"/>
			<service name="Framebuffer"/>
		</provides>
		<route> <any-service> <parent/> </any-service> </route>
	</start>

	<start name="input_filter" caps="80">
		<resource name="RAM" quantum="1M"/>
		<provides> <service name="Input"/> </provides>
		<route>
			<service name="ROM" label="config"> <parent label="input_filter.config"/> </service>
			<service name="Input" label="sdl"> <child name="fb_sdl"/> </service>
			<service name="ROM">   <parent/> </service>
			<service name="PD">    <parent/> </service>
			<service name="CPU">   <parent/> </service>
			<service name="LOG">   <parent/> </service>
			<service name="Timer"> <parent/> </service>
		</route>
	</start>
</config>
