config
+ output
  + chargen
    + accelerate | max: 50 | sensitivity_percent: 1000 | curve: 127
    | + button-scroll
    |   + input sdl
    |   + vertical   | button: BTN_MIDDLE | speed_percent: -10
    |   + horizontal | button: BTN_MIDDLE | speed_percent: -10
    + mod1
    | + key KEY_LEFTSHIFT
    | + key KEY_RIGHTSHIFT
    + mod2
    | + key KEY_LEFTCTRL
    | + key KEY_RIGHTCTRL
    + mod3
    | + key KEY_RIGHTALT | . AltGr
    + repeat | delay_ms: 230 | rate_ms: 90
    + include | rom: en_us.chargen
    + include | rom: special.chargen
+ default-policy | input: sdl
-
