<config>
	<input label="sdl"/>
	<output>
		<chargen>
			<accelerate max="50" sensitivity_percent="1000" curve="127">
				<button-scroll>
					<input name="sdl"/>
					<vertical   button="BTN_MIDDLE" speed_percent="-10"/>
					<horizontal button="BTN_MIDDLE" speed_percent="-10"/>
				</button-scroll>
			</accelerate>
			<mod1>
				<key name="KEY_LEFTSHIFT"/> <key name="KEY_RIGHTSHIFT"/>
			</mod1>
			<mod2>
				<key name="KEY_LEFTCTRL"/> <key name="KEY_RIGHTCTRL"/>
			</mod2>
			<mod3>
				<key name="KEY_RIGHTALT"/> <!-- AltGr -->
			</mod3>
			<repeat delay_ms="230" rate_ms="90"/>
			<include rom="en_us.chargen"/>
			<include rom="special.chargen"/>
		</chargen>
	</output>
</config>
