<config>
	<parent-provides>
		<service name="IRQ"/>
		<service name="IO_MEM"/>
		<service name="ROM"/>
		<service name="PD"/>
		<service name="RM"/>
		<service name="CPU"/>
		<service name="LOG"/>
		<service name="Timer"/>
		<service name="Gpio"/>
	</parent-provides>

	<default caps="100"/>

	<service name="Nic">
		<default-policy> <child name="nic_drv"/> </default-policy> </service>

	<start name="nic_drv" caps="130">
		<binary name="fec_nic_drv"/>
		<resource name="RAM" quantum="20M"/>
		<provides> <service name="Nic"/> </provides>
		<config><card type="fsl,imx25-fec" mii="rmii" irq="87" mmio="0x63fec000"/></config>
		<route> <any-service> <parent/> </any-service> </route>
	</start>
</config>
