<config>
	<parent-provides>
		<service name="IRQ"/>
		<service name="IO_MEM"/>
		<service name="ROM"/>
		<service name="PD"/>
		<service name="RM"/>
		<service name="CPU"/>
		<service name="LOG"/>
		<service name="Timer"/>
		<service name="Uplink"/>
	</parent-provides>

	<default caps="100"/>

	<service name="Nic">
		<default-policy> <child name="nic_drv"/> </default-policy> </service>

	<start name="platform_drv" caps="150">
		<resource name="RAM" quantum="1M"/>
		<provides> <service name="Platform"/> </provides>
		<config>
			<device name="fec">
				<io_mem   address="0x63fec000" size="0x4000"/>
				<irq      number="87"/>
				<property name="compatible" value="fsl,imx25-fec"/>
				<property name="mii"        value="rmii"/>
			</device>
			<policy label="nic_drv -> "> <device name="fec"/> </policy>
		</config>
		<route> <any-service> <parent/> </any-service> </route>
	</start>

	<start name="nic_drv" caps="130">
		<binary name="fec_nic_drv"/>
		<resource name="RAM" quantum="20M"/>
		<config mode="uplink_client"/>
		<route>
			<service name="Uplink"><parent/> </service>
			<service name="ROM">   <parent/> </service>
			<service name="PD">    <parent/> </service>
			<service name="RM">    <parent/> </service>
			<service name="CPU">   <parent/> </service>
			<service name="LOG">   <parent/> </service>
			<service name="Timer"> <parent/> </service>
			<service name="Platform"> <child name="platform_drv"/> </service>
		</route>
	</start>
</config>
