<config clipboard="yes">
	<vfs>
		<dir name="dev">
			<dir name="pipe"> <pipe/> </dir>
			<log/>
			<inline name="rtc">2018-01-01 00:01</inline>
		</dir>
		<dir name="edit"> <fs label="rw"/> </dir>
		<tar name="qt5_dejavusans.tar"/>
		<tar name="qt5_libqgenode.tar"/>
	</vfs>
	<libc stdout="/dev/log" stderr="/dev/log" pipe="/dev/pipe" rtc="/dev/rtc"/>
</config>
