config

+ parent-provides
  + service ROM
  + service PD
  + service RM
  + service CPU
  + service LOG
  + service Timer
  + service Nic
  + service Terminal

+ default-route
  + any-service
    + parent
    + any-child

+ default | caps: 100

+ start vfs | caps: 150 | ram: 12M
  + provides | + service File_system
  + config
    + vfs | + tar socat.tar
    + policy | label_prefix: vfs_rom | root: /
    + default-policy                 | root: / | writeable: yes

+ start vfs_rom | ram: 16M
  + binary cached_fs_rom
  + provides | + service ROM
  + config
  + route
    + service File_system | + child vfs
    + any-service         | + parent

+ start socat | caps: 200 | ram: 28M
  + binary /bin/socat
  + config
  | + libc | stdout: /dev/log | stderr: /dev/log
  |        | rtc:    /dev/rtc | socket: /socket
  | + vfs
  |   + dir dev
  |     + log
  |     + inline rtc | : 2018-01-01 00:01
  |     + terminal
  |   + dir socket | + lwip | dhcp: yes
  |   + fs
  | + arg socat
  | + arg /dev/terminal
  | + arg TCP4-LISTEN:5555
  + route
    + service File_system                  | + child vfs
    + service ROM | label_suffix: .lib.so  | + parent
    + service ROM | label_last: /bin/socat | + child vfs_rom
    + any-service
      + parent
      + any-child
-
