config | verbose: yes
+ rom config
  + inline | description: fetchurl
  | + config
  |   + parent-provides
  |     + service CPU
  |     + service LOG
  |     + service Nic
  |     + service PD
  |     + service ROM
  |     + service Rtc
  |     + service Timer
  |     + service Uplink
  |   + default-route
  |     + any-service
  |       + parent
  |   + start wg_client | caps: 100 | ram: 10M
  |     + binary wireguard
  |     + config
  |       | private_key: 0CtU34qsl97IGiYKSO4tMaF/SJvy04zzeQkhZEbZSk0=
  |       | listen_port: 49001
  |       | use_rtc:     yes
  |       + peer
  |         | public_key:    GrvyALPZ3PQ2AWM+ovxJqnxSqKpmTyqUui5jH+C8I0E=
  |         | endpoint_ip:   10.10.0.2
  |         | endpoint_port: 49002
  |         | allowed_ip:    10.10.10.0/24
  |   + start fetchurl | caps: 200 | ram: 10M
  |     + config
  |       + libc | stdout: /dev/log | stderr: /dev/log | rtc: /dev/rtc
  |              | socket: /socket | pipe: /pipe
  |       + vfs
  |         + dir dev
  |           + jitterentropy random
  |           + log
  |           + rtc
  |         + dir socket | + lwip | dhcp: yes
  |         + dir pipe   | + pipe
  |         + dir out    | + ram
  |       + fetch | url: 10.10.10.2 | path: /out/index.html | retry: 3
  + sleep | milliseconds: 20000
  + inline | description: empty
  | + config
  |   + parent-provides
  |     + service CPU
  |     + service LOG
  |     + service Nic
  |     + service PD
  |     + service ROM
  |     + service Rtc
  |     + service Timer
  |     + service Uplink
  + sleep | milliseconds: 100
-
