<config verbose="yes">
	<rom name="config">

		<inline description="fetchurl">
			<config>
				<parent-provides>
					<service name="CPU"/>
					<service name="LOG"/>
					<service name="Nic"/>
					<service name="PD"/>
					<service name="ROM"/>
					<service name="Rtc"/>
					<service name="Timer"/>
					<service name="Uplink"/>
				</parent-provides>
				<default-route>
					<any-service> <parent/> </any-service>
				</default-route>
				<start name="wg_client" caps="100">
					<binary name="wireguard"/>
					<resource name="RAM" quantum="10M"/>
					<config private_key="0CtU34qsl97IGiYKSO4tMaF/SJvy04zzeQkhZEbZSk0="
					        listen_port="49001" use_rtc="yes">
						<peer public_key="GrvyALPZ3PQ2AWM+ovxJqnxSqKpmTyqUui5jH+C8I0E="
						      endpoint_ip="10.10.0.2"
						      endpoint_port="49002"
						      allowed_ip="10.10.10.0/24"/>
					</config>
				</start>
				<start name="fetchurl" caps="200">
					<resource name="RAM" quantum="10M"/>
					<config>
						<libc stdout="/dev/log" stderr="/dev/log" rtc="/dev/rtc" socket="/socket"/>
						<vfs>
							<dir name="dev">
								<log/>
								<rtc/>
								<jitterentropy name="random"/>
							</dir>
							<dir name="socket">
								<lwip dhcp="yes"/>
							</dir>
							<dir name="out">
								<ram/>
							</dir>
						</vfs>
						<fetch url="10.10.10.2" path="/out/index.html" retry="3"/>
					</config>
				</start>
			</config>
		</inline>

		<sleep milliseconds="8000"/>

		<inline description="empty">
			<config>
				<parent-provides>
					<service name="CPU"/>
					<service name="LOG"/>
					<service name="Nic"/>
					<service name="PD"/>
					<service name="ROM"/>
					<service name="Rtc"/>
					<service name="Timer"/>
					<service name="Uplink"/>
				</parent-provides>
			</config>
		</inline>

		<sleep milliseconds="100"/>

	</rom>
</config>

