config
+ sleep | ms: 150
  .
  . let init settle, processing the initially invalid config
  .

+ message | string: test state reporting
+ init_config | version: initial
  + report | init_ram: yes | ids: yes | child_ram: yes | requested: yes
  + parent-provides
    + service ROM
    + service CPU
    + service PD
    + service LOG
  + default | caps: 100
  + start application | ram: 1G
    + binary dummy
    + config | + log | string: started
    + route | + any-service | + parent
+ expect_log | string: [init -> application] started
+ sleep | ms: 200
+ expect_init_state
  + attribute version | value: initial
  + node child
    + attribute name   | value: application
    + attribute binary | value: dummy
    + node requested
      + node session
        + attribute service | value: PD
        + attribute label   | value: application
        + attribute state   | value: CAP_HANDED_OUT

+ message | string: exit state handling
+ init_config | version: exiting child
  + report | ids: yes
  + parent-provides
    + service ROM
    + service CPU
    + service PD
    + service LOG
  + default | caps: 100
  + start exiting | ram: 2M
    + binary dummy
    + config
      + log | string: started
      + exit
    + route | + any-service | + parent
+ expect_log | string: [init -> exiting] started
+ sleep | ms: 350
+ expect_init_state
  + attribute version | value: exiting child
  + node child
    + attribute name   | value: exiting
    + attribute binary | value: dummy
    + attribute id     | value: 2
    + attribute exited | value: 0
+ init_config | version: exiting child 2
  .
  . Trigger reconfiguration without changing anything about the exited
  . application. The exited application must remain in its 'exited' state.
  .
  + report | ids: yes
  + parent-provides
    + service ROM
    + service CPU
    + service PD
    + service LOG
  + default | caps: 100
  + start exiting | ram: 2M
    + binary dummy
    + config
      + log | string: started
      + exit
    + route | + any-service | + parent
  + start unrelated | ram: 2M
    + binary dummy
    + config
    + route | + any-service | + parent
+ sleep | ms: 200
+ expect_init_state
  + attribute version | value: exiting child 2
  + node child
    + attribute name   | value: exiting
    + attribute binary | value: dummy
    + attribute id     | value: 2
    + attribute exited | value: 0

+ message | string: routing to custom log service
+ init_config | version: chained log services
  .
  . We let the client manually create a LOG session in addition to its env LOG
  . session. So there are two sessions at the server, one initiated by init and
  . one initiated by the child. Both cases trigger distinct code paths at
  . child- destruction time.
  .
  + report | ids: yes | requested: yes | provided: yes
  + parent-provides
    + service ROM
    + service CPU
    + service PD
    + service LOG
  + default | caps: 100
  + start server | ram: 1M
    + binary dummy
    + provides | + service LOG
    + config | + log_service
    + route | + any-service | + parent
  + start indirect_server | ram: 1M
    + binary dummy
    + provides | + service LOG
    + config | + log_service
    + route
      + service LOG | + child server
      + any-service | + parent
  + start client | ram: 1M
    + binary dummy
    + config
      + log | string: client started
      + create_log_connections | count: 1
    + route
      + service LOG | + child indirect_server
      + any-service | + parent
+ expect_log | string: [init -> server] [indirect_server] [client] client started
+ sleep | ms: 200
+ expect_init_state
  + node child
    + attribute name | value: server
    + attribute id   | value: 4
  + node child
    + attribute name | value: client
    + attribute id   | value: 6
+ sleep | ms: 150

+ message | string: changing route of indirect server
+ init_config | version: restarted indirect server
  .
  . Because the route to the LOG session of the 'indirect_server' is
  . re-directed to the parent, the 'indirect_server' must be restarted.
  . As the 'client' depends on the 'indirect_server' for its LOG session,
  . the client must implicitly be restarted as well.
  .
  + report | ids: yes | requested: yes | provided: yes
  + parent-provides
    + service ROM
    + service CPU
    + service PD
    + service LOG
  + default | caps: 100
  + start server | ram: 1M
    + binary dummy
    + provides | + service LOG
    + config | + log_service
    + route + any-service | + parent
  + start indirect_server | ram: 1M
    + binary dummy
    + provides | + service LOG
    + config | + log_service
    + route | + any-service | + parent
  + start client | ram: 1M
    + binary dummy
    + config
      + log | string: client started
      + create_log_connections | count: 1
    + route
      + service LOG | + child indirect_server
      + any-service | + parent
+ expect_log | string: [init -> indirect_server] [client] client started
  .
  . the output of the new 'client' does no longer go via 'server'
  .
+ sleep | ms: 150
+ expect_init_state
  + node child
    + attribute name | value: server
    + attribute id   | value: 4
  + node child
    + attribute name | value: client
    + attribute id   | value: 8      | . client was restarted
+ sleep | ms: 100
+ init_config | version: client removed
  .
  . Kill the client and validate that all session states are freed
  .
  + report | ids: yes | requested: yes | provided: yes
  + parent-provides
    + service ROM
    + service CPU
    + service PD
    + service LOG
  + default | caps: 100
  + start server | ram: 1M
    + binary dummy
    + provides | + service LOG
    + config | + log_service
    + route | + any-service | + parent
  + start indirect_server | ram: 1M
    + binary dummy
    + provides | + service LOG
    + config | + log_service
    + route | + any-service | + parent
+ sleep | ms: 300
+ expect_init_state
  + node child
    + attribute name | value: indirect_server
    + node provided
      + not
        + node session

+ message | string: test changing provided services
+ init_config | version: incomplete
  .
  . Initially, the log service lacks the <provides> declaration. Therefore the
  . attempt to route the LOG session of the client to the 'log' fails. The
  . environment of 'dummy' will remain incomplete.
  .
  + report | requested: yes
  + parent-provides
    + service ROM
    + service CPU
    + service PD
    + service LOG
  + default | caps: 100
  + start log | ram: 1M
    + binary dummy
    + config | + log | string: no service yet
    + route | + any-service | + parent
  + start dummy | ram: 1M
    + config | + log | string: started
    + route
      + service LOG | + child log
      + any-service | + parent
+ expect_log | string: [init -> log] no service yet
+ sleep | ms: 150
+ expect_init_state
  + node child | + attribute name | value: log
  + node child
    + attribute name  | value: dummy
    + attribute state | value: incomplete
+ init_config
  .
  . We add the <provides> node to the log server and thereby make the LOG
  . route of the 'dummy' client available. The server is expected to remain
  . unaffected but the client should be restarted to re-route its LOG session
  . to the server
  .
  + parent-provides
    + service ROM
    + service CPU
    + service PD
    + service LOG
  + default | caps: 100
  + start log | ram: 1M
    + binary dummy
    + provides | + service LOG
    + config | version: providing service | + log_service
    + route | + any-service | + parent
  + start dummy | ram: 1M
    + config | + log | string: started
    + route
      + service LOG | + child log
      + any-service | + parent
+ expect_log | string: [init -> log] config 2: providing service
+ expect_log | string: [init -> log] [dummy] started
+ init_config
  .
  . We remove <provides> node from 'log' service and thereby make the LOG
  . service unavailble for 'dummy'. Consequently, 'dummy' will be restarted but
  . will ultimately remain incomplete (as the LOG environment session cannot be
  . routed). The server stays alive and reports its third config.
  .
  + report | requested: yes
  + parent-provides
    + service ROM
    + service CPU
    + service PD
    + service LOG
  + default | caps: 100
  + start log | ram: 1M
    + binary dummy
    + config | version: became unavailable
    + route | + any-service | + parent
  + start dummy | ram: 1M
    + config | + log | string: started
    + route
      + service LOG | + child log
      + any-service | + parent
+ sleep | ms: 150
+ expect_init_state
  + node child
    + attribute name  | value: dummy
    + attribute state | value: incomplete

+ message | string: update child config
+ init_config
  + parent-provides
    + service ROM
    + service CPU
    + service PD
    + service LOG
  + default | caps: 100
  + start application | ram: 1M
    + binary dummy
    + config | version: Version A
    + route | + any-service | + parent
+ expect_log | string: [init -> application] config 1: Version A
+ init_config
  + parent-provides
    + service ROM
    + service CPU
    + service PD
    + service LOG
  + default | caps: 100
  + start application | ram: 1M
    + binary dummy
    + config | version: Version B
    + route | + any-service | + parent
+ expect_log | string: [init -> application] config 2: Version B
+ init_config
  .
  . Add 'version' attribute to start node, which should trigger the restart of
  . the child, printing a version count of 1. We also validate that the version
  . is reflected in the state report.
  .
  + report
  + parent-provides
    + service ROM
    + service CPU
    + service PD
    + service LOG
  + default | caps: 100
  + start application | version: X | ram: 1M
    + binary dummy
    + config | version: Version B
    + route | + any-service | + parent
+ expect_log | string: [init -> application] config 1: Version B
+ sleep | ms: 150
+ expect_init_state
  + node child | + attribute version | value: X
+ sleep | ms: 100

+ message | string: test label rewriting and binary-name update
+ init_config
  + parent-provides
    + service ROM
    + service CPU
    + service PD
    + service LOG
  + default | caps: 100
  + start test | ram: 1M
    + binary dummy
    + config | version: binary-name test
    + route | + any-service | + parent
+ expect_log | string: [init -> test] config 1: binary-name test
+ init_config
  .
  . We change the binary name, but also use the label-rewriting feature of init
  . to produce the same route as the original binary. Consequently, init does
  . not need to restart the child. Instead the original child merely prints a
  . new config version (count 2).
  .
  + report
  + parent-provides
    + service ROM
    + service CPU
    + service PD
    + service LOG
  + default | caps: 100
  + start test | ram: 1M
    + binary renamed_dummy
    + config | version: binary re-routed to same route
    + route
      + service ROM | unscoped_label: renamed_dummy | + parent | label: dummy
      + any-service                                 | + parent
+ expect_log | string: [init -> test] config 2: binary re-routed to same route
+ init_config
  .
  . We change the binary name in a way that results in a different route for
  . the binary ROM request, which requires restart of the child. The config
  . version printed by the new child will have a count of 1.
  .
  + parent-provides
    + service ROM
    + service CPU
    + service PD
    + service LOG
  + default | caps: 100
  + start test | ram: 1M
    + binary another_dummy
    + config | version: binary re-routed to other route
    + route
      + service ROM | unscoped_label: renamed_dummy | + parent | label: dummy
      + any-service                                 | + parent
+ expect_log | string: [init -> test] config 1: binary re-routed to other route
+ sleep | ms: 100

+ message | string: test RAM preservation
+ init_config
  + report | init_ram: yes
  + resource RAM | preserve: 2M
  + parent-provides
    + service ROM
    + service CPU
    + service PD
    + service LOG
  + default | caps: 100
  + start regular | ram: 1M
    + binary dummy
    + config | + log | string: regular component started
    + route | + any-service | + parent
  + start greedy | ram: 1G
    + binary dummy
    + config | + log | string: greedy component started
    + route | + any-service | + parent
+ sleep | ms: 300
+ expect_init_state
  .
  . wait until both children are started
  .
  + node child | + attribute name | value: regular
  + node child | + attribute name | value: greedy
+ expect_init_state
  + node ram | + attribute avail | higher: 2M
+ sleep | ms: 100

+ message | string: test RAM-quota adjustments
+ init_config
  + report | child_ram: yes
  + parent-provides
    + service ROM
    + service CPU
    + service PD
    + service LOG
  + default | caps: 100
  + start test | ram: 1M
    + binary dummy
    + config | version: initial
    + route | + any-service | + parent
+ expect_log | string: [init -> test] config 1: initial
+ sleep | ms: 150
+ expect_init_state
  + node child
    + attribute name | value: test
    + node ram
      + attribute assigned | value: 1M
      + attribute quota    | lower: 1M
+ init_config
  .
  . increase RAM quota of child by 3 MiB
  .
  + report | init_ram: yes | child_ram: yes
  + parent-provides
    + service ROM
    + service CPU
    + service PD
    + service LOG
  + default | caps: 100
  + start test | ram: 4M
    + binary dummy
    + config | version: upgraded
    + route | + any-service | + parent
+ expect_log | string: [init -> test] config 2: upgraded
+ sleep | ms: 150
+ expect_init_state
  + node child
    + attribute name | value: test
    + node ram
      + attribute assigned | value: 4M
      + attribute quota    | higher: 3M
+ init_config
  .
  . start second child consuming all slack memory
  .
  + report | init_ram: yes | child_ram: yes
  + parent-provides
    + service ROM
    + service CPU
    + service PD
    + service LOG
  + default | caps: 100
  + start test | ram: 4M
    + binary dummy
    + config
    + route | + any-service | + parent
  + start greedy | ram: 1G
    + binary dummy
    + config | version: started
    + route | + any-service | + parent
+ expect_log | string: [init -> greedy] config 1: started
+ sleep | ms: 150
+ expect_init_state
  + node ram | + attribute avail | lower: 1M
+ init_config
  .
  . attempt to upgrade the 'test' child to 8 MiB, hitting the RAM limit
  .
  + report | init_ram: yes | child_ram: yes
  + parent-provides
    + service ROM
    + service CPU
    + service PD
    + service LOG
  + default | caps: 100
  + start test | ram: 8M
    + binary dummy
    + config | version: upgrade impossible
    + route | + any-service | + parent
  + start greedy | ram: 1G
    + binary dummy
    + config | version: started
    + route | + any-service | + parent
+ expect_log | string: [init -> test] config 4: upgrade impossible
+ sleep | ms: 150
+ expect_init_state
  + node child
    + attribute name | value: test
    + node ram | + attribute assigned | lower: 8M
+ init_config
  .
  . kill greedy child, now the upgrade of 'test' can be completed
  .
  + report | init_ram: yes | child_ram: yes
  + parent-provides
    + service ROM
    + service CPU
    + service PD
    + service LOG
  + default | caps: 100
  + start test | ram: 8M
    + binary dummy
    + config | version: upgraded to 8 MiB
    + route | + any-service | + parent
+ expect_log | string: [init -> test] config 5: upgraded to 8 MiB
+ sleep | ms: 150
+ expect_init_state
  + node child
    + attribute name | value: test
    + node ram
      + attribute assigned | value:  8M
      + attribute quota    | higher: 7M
+ init_config
  .
  . reduce quota
  .
  + report | init_ram: yes | child_ram: yes
  + parent-provides
    + service ROM
    + service CPU
    + service PD
    + service LOG
  + default | caps: 100
  + start test | ram: 4M
    + binary dummy
    + config | version: downgraded to 4 MiB
    + route | + any-service | + parent
+ expect_log | string: [init -> test] config 6: downgraded to 4 MiB
+ sleep | ms: 150
+ expect_init_state
  + node child
    + attribute name | value: test
    + node ram
      + attribute assigned | value: 4M
      + attribute quota    | lower: 4M
+ init_config | version: consumed
  .
  . let child consume quota
  .
  + parent-provides
    + service ROM
    + service CPU
    + service PD
    + service LOG
  + default | caps: 100
  + start test | ram: 4M
    + binary dummy
    + config | version: consume 2 MiB
      + handle_yield_requests
      + consume_ram | amount: 2M
    + route | + any-service | + parent
+ expect_log | string: [init -> test] config 7: consume 2 MiB
+ expect_log | string: [init -> test] consume 2M bytes of memory
+ sleep | ms: 300
+ init_config | version: report consumed
  .
  . activate child_ram report
  .
  + report | child_ram: yes
  + parent-provides
    + service ROM
    + service CPU
    + service PD
    + service LOG
  + default | caps: 100
  + start test | ram: 4M
    + binary dummy
    + config | version: consume 2 MiB
      + handle_yield_requests
      + consume_ram | amount: 2M
    + route | + any-service | + parent
+ sleep | ms: 200
+ expect_init_state
  + node child
    + attribute name | value: test
    + node ram | + attribute avail | lower: 2M
+ init_config
  .
  . reduce child quota by 2M, triggering a resource-yield request
  .
  + report | init_ram: yes | child_ram: yes
  + parent-provides
    + service ROM
    + service CPU
    + service PD
    + service LOG
  + default | caps: 100
  + start test | ram: 2M
    + binary dummy
    + config | version: consume 2 MiB
      + handle_yield_requests
      + consume_ram | amount: 2M
    + route | + any-service | + parent
+ expect_log | string: [init -> test] got yield request
+ expect_log | string: [init -> test] release 2M bytes of memory
+ sleep | ms: 500
+ expect_init_state
  + node child
    + attribute name | value: test
    + node ram | + attribute quota | lower: 2M
+ init_config | version: resources requested
  .
  . let child issue a resource request
  .
  + report | init_ram: yes | child_ram: yes | delay_ms: 2000
  + parent-provides
    + service ROM
    + service CPU
    + service PD
    + service LOG
  + default | caps: 100
  + start test | ram: 2M
    + binary dummy
    + config | version: request more quota than avail
      + consume_ram | amount: 4M
    + route | + any-service | + parent
+ expect_log | string: [init -> test] config 8: request more quota than avail
+ sleep | ms: 200
+ expect_init_state
  + node child
    + attribute name | value: test
    + node ram
      + attribute assigned  | value: 2M
      + attribute requested | higher: 4000K
+ init_config
  .
  . respond to resource request
  .
  + report | init_ram: yes | child_ram: yes
  + parent-provides
    + service ROM
    + service CPU
    + service PD
    + service LOG
  + default | caps: 100
  + start test | ram: 6M
    + binary dummy
    + config | version: request more quota than avail
      + consume_ram | amount: 4M
    + route | + any-service | + parent
+ sleep | ms: 150
+ expect_init_state
  + node child
    + attribute name | value: test
    + node ram
      + attribute assigned | value:  6M
      + attribute quota    | higher: 5M
+ init_config
  + parent-provides
    + service ROM
    + service CPU
    + service PD
    + service LOG
+ sleep | ms: 150

+ message | string: test capability-quota adjustments
+ init_config
  + report | child_caps: yes
  + parent-provides
    + service ROM
    + service CPU
    + service PD
    + service LOG
  + start test | caps: 100 | ram: 1M
    + binary dummy
    + config | version: initial
    + route | + any-service | + parent
+ expect_log | string: [init -> test] config 1: initial
+ sleep | ms: 150
+ expect_init_state
  + node child
    + attribute name | value: test
    + node caps
      + attribute assigned | value: 100
      + attribute quota    | lower: 100
+ init_config
  .
  . increase capability quota of child by 300
  .
  + report | init_caps: yes | child_caps: yes
  + parent-provides
    + service ROM
    + service CPU
    + service PD
    + service LOG
  + start test | caps: 400 | ram: 1M
    + binary dummy
    + config | version: upgraded
    + route | + any-service | + parent
+ expect_log | string: [init -> test] config 2: upgraded
+ sleep | ms: 150
+ expect_init_state
  + node child
    + attribute name | value: test
    + node caps
      + attribute assigned | value: 400
      + attribute quota    | higher: 300
+ init_config
  .
  . start second child consuming all slack capabilities
  .
  + report | init_caps: yes | child_caps: yes
  + parent-provides
    + service ROM
    + service CPU
    + service PD
    + service LOG
  + start test | caps: 400 | ram: 4M
    + binary dummy
    + config
    + route | + any-service | + parent
  + start greedy | caps: 1000000 | ram: 4M
    + binary dummy
    + config | version: started
    + route | + any-service | + parent
+ expect_log | string: [init -> greedy] config 1: started
+ sleep | ms: 150
+ expect_init_state
  + node caps | + attribute avail | lower: 1000
+ init_config
  .
  . attempt to upgrade the 'test' child to 800 caps, hitting the limit
  .
  + report | init_caps: yes | child_caps: yes
  + parent-provides
    + service ROM
    + service CPU
    + service PD
    + service LOG
  + start test | caps: 800 | ram: 4M
    + binary dummy
    + config | version: upgrade impossible
    + route | + any-service | + parent
  + start greedy | caps: 1000000 | ram: 4M
    + binary dummy
    + config | version: started
    + route | + any-service | + parent
+ expect_log | string: [init -> test] config 4: upgrade impossible
+ sleep | ms: 150
+ expect_init_state
  + node child
    + attribute name | value: test
    + node caps | + attribute assigned | lower: 800
+ init_config
  .
  . kill greedy child, now the upgrade of 'test' can be completed
  .
  + report | init_caps: yes | child_caps: yes
  + parent-provides
    + service ROM
    + service CPU
    + service PD
    + service LOG
  + default | caps: 100
  + start test | caps: 800 | ram: 4M
    + binary dummy
    + config | version: upgraded to 800 caps
    + route | + any-service | + parent
+ expect_log | string: [init -> test] config 5: upgraded to 800 caps
+ sleep | ms: 150
+ expect_init_state
  + node child
    + attribute name | value: test
    + node caps
      + attribute assigned | value:  800
      + attribute quota    | higher: 700
+ init_config
  .
  . reduce quota
  .
  + report | init_caps: yes | child_caps: yes
  + parent-provides
    + service ROM
    + service CPU
    + service PD
    + service LOG
  + start test | caps: 200 | ram: 4M
    + binary dummy
    + config | version: downgraded to 200 caps
    + route | + any-service | + parent
+ expect_log | string: [init -> test] config 6: downgraded to 200 caps
+ sleep | ms: 150
+ expect_init_state
  + node child
    + attribute name | value: test
    + node caps
      + attribute assigned | value: 200
      + attribute quota    | lower: 200
+ init_config | version: consumed
  .
  . let child consume quota
  .
  + parent-provides
    + service ROM
    + service CPU
    + service PD
    + service LOG
  + start test | caps: 200 | ram: 4M
    + binary dummy
    + config | version: consume 100 caps
      + handle_yield_requests
      + consume_caps | amount: 100
    + route | + any-service | + parent
+ expect_log | string: [init -> test] config 7: consume 100 caps
+ expect_log | string: [init -> test] consume 100 caps
+ sleep | ms: 150
+ init_config | version: report consumed
  .
  . activate child_caps report
  .
  + report | child_caps: yes
  + parent-provides
    + service ROM
    + service CPU
    + service PD
    + service LOG
  + start test | caps: 200 | ram: 4M
    + binary dummy
    + config | version: consume 100 caps
      + handle_yield_requests
      + consume_caps | amount: 100
    + route | + any-service | + parent
+ sleep | ms: 200
+ expect_init_state
  + node child
    + attribute name | value: test
    + node caps | + attribute avail | lower: 100
+ init_config
  .
  . reduce child quota by 100 caps, triggering a resource-yield request
  .
  + report | init_caps: yes | child_caps: yes
  + parent-provides
    + service ROM
    + service CPU
    + service PD
    + service LOG
  + start test | caps: 100 | ram: 4M
    + binary dummy
    + config | version: consume 100 caps
      + handle_yield_requests
      + consume_caps | amount: 100
    + route | + any-service | + parent
+ expect_log | string: [init -> test] got yield request
+ expect_log | string: [init -> test] release 100 caps
+ sleep | ms: 500
+ expect_init_state
  + node child
    + attribute name | value: test
    + node caps | + attribute quota | lower: 100
+ init_config | version: resources requested
  .
  . let child issue a resource request
  .
  + report | init_caps: yes | child_caps: yes | delay_ms: 2000
  + parent-provides
    + service ROM
    + service CPU
    + service PD
    + service LOG
  + start test | caps: 100 | ram: 4M
    + binary dummy
    + config | version: request more quota than avail
      + consume_caps | amount: 100
    + route | + any-service | + parent
+ expect_log | string: [init -> test] config 8: request more quota than avail
+ sleep | ms: 300
+ expect_init_state
  + node child
    + attribute name | value: test
    + node caps
      + attribute assigned  | value: 100
      + attribute requested | higher: 1
+ init_config
  .
  . respond to resource request
  .
  + report | init_caps: yes | child_caps: yes
  + parent-provides
    + service ROM
    + service CPU
    + service PD
    + service LOG
  + start test | caps: 200 | ram: 4M
    + binary dummy
    + config | version: request more quota than avail
      + consume_caps | amount: 100
    + route | + any-service | + parent
+ sleep | ms: 150
+ expect_init_state
  + node child
    + attribute name | value: test
    + node caps
      + attribute assigned | value:  200
      + attribute quota    | higher: 100
+ init_config
  + parent-provides
    + service ROM
    + service CPU
    + service PD
    + service LOG
+ sleep | ms: 150

+ message | string: denial of forwarded session request
+ init_config | version: session forwarding
  + report | child_ram: yes | requested: yes
  + parent-provides
    + service ROM
    + service CPU
    + service PD
    + service LOG
  + default | caps: 100
  + start service_init | caps: 200 | ram: 10M
    + binary init
    + provides | + service LOG
    + config
    | + parent-provides
    |   + service ROM
    |   + service CPU
    |   + service PD
    |   + service LOG
    | + default | caps: 60
    | + service LOG
    |   + policy | label: mismatching
    |     .
    |     . deny request because no policy matches
    |     .
    |     + child server
    + route | + any-service | + parent
  + start test | ram: 4M
    + binary dummy
    + config | version: initial
      + create_log_connections | count: 1 | ram_upgrade: 3M
      + destroy_log_connections
    + route
      + service LOG | + child service_init
      + any-service | + parent
+ sleep | ms: 500
+ expect_init_state
  + attribute version | value: session forwarding
  + node child
    + attribute name   | value: test
    + attribute binary | value: dummy
    + node requested
      + node session
        + attribute service | value: LOG
        + attribute label   | value: test
        + attribute state   | value: SERVICE_DENIED
+ init_config | version: empty
  .
  . With the LOG session denied, the 'test' component will remain in an aborted
  . state. Hence, we have to reset init for the subsequent good-case tests.
  .
  + report
+ sleep | ms: 150
+ expect_init_state
  + attribute version | value: empty

+ message | string: stalled forwarded session request to future server
+ init_config | version: session forwarding
  + report | child_ram: yes
  + parent-provides
    + service ROM
    + service CPU
    + service PD
    + service LOG
  + default | caps: 100
  + start service_init | caps: 200 | ram: 10M
    + binary init
    + provides | + service LOG
    + config
    | + parent-provides
    |   + service ROM
    |   + service CPU
    |   + service PD
    |   + service LOG
    | + default | caps: 60
    | + service LOG | + default-policy | + child server
    + route | + any-service | + parent
  + start test | ram: 4M
    + binary dummy
    + config | version: initial
      + create_log_connections | count: 1 | ram_upgrade: 3M
      + destroy_log_connections
    + route
      + service LOG | + child service_init
      + any-service | + parent
+ sleep | ms: 500
  .
  . The 'test' client request is supposed to be stalled, not denied.
  . Good news, the client will get what it wants pretty soon.
  .

+ message | string: forward session request to child
+ init_config
  + report | child_ram: yes
  + parent-provides
    + service ROM
    + service CPU
    + service PD
    + service LOG
  + default | caps: 100
  + start service_init | caps: 200 | ram: 10M
    + binary init
    + provides | + service LOG
    + config
    | + parent-provides
    |   + service ROM
    |   + service CPU
    |   + service PD
    |   + service LOG
    | + default | caps: 80
    | + service LOG | + default-policy | + child server
    | + start server | ram: 1M
    |   + binary dummy
    |   + provides | + service LOG
    |   + config | + log_service | verbose: yes
    |   + route | + any-service | + parent
    + route | + any-service | + parent
  + start test | ram: 4M
    + binary dummy
    + config | version: initial
    | + create_log_connections | count: 1 | ram_upgrade: 3M
    | + destroy_log_connections
    + route
      + service LOG | + child service_init
      + any-service | + parent
+ expect_log | string: [init -> service_init -> server] created LOG service
+ expect_log | string: [init -> service_init -> server] opening session with label test
+ expect_log | string: [init -> service_init -> server] [test] going to create 1 LOG connections
+ expect_log | string: [init -> service_init -> server] opening session with label test -> 0
+ expect_log | string: [init -> service_init -> server] [test] upgrade connection 0
+ expect_log | string: [init -> service_init -> server] received session quota upgrade
+ expect_log | string: [init -> service_init -> server] [test] created all LOG connections
+ expect_log | string: [init -> service_init -> server] closing session with label test -> 0
+ expect_log | string: [init -> service_init -> server] [test] destroyed all LOG connections
+ sleep | ms: 150
+ expect_init_state
  .
  . After closing the LOG session, the session quota is returned to the 'test'
  . client.
  .
  + node child
    + attribute name | value: test
    + node ram | + attribute avail | higher: 3M
+ init_config
  .
  . change init service policy such that the route of the remaining LOG session
  . of 'test' is no longer valid. We expect the 'service_init' to issue a close
  . request to the embedded server.
  .
  + report | child_ram: yes
  + parent-provides
    + service ROM
    + service CPU
    + service PD
    + service LOG
  + default | caps: 100
  + start service_init | caps: 200 | ram: 10M
    + binary init
    + provides | + service LOG
    + config
    | + parent-provides
    |   + service ROM
    |   + service CPU
    |   + service PD
    |   + service LOG
    | + default | caps: 60
    | + start server | ram: 1M
    |   + binary dummy
    |   + provides | + service LOG
    |   + config | + log_service | verbose: yes
    |   + route | + any-service | + parent
    + route | + any-service | + parent
  + start test | ram: 4M
    + binary dummy
    + config | version: initial
      + create_log_connections | count: 1 | ram_upgrade: 3M
      + destroy_log_connections
    + route
      + service LOG | + child service_init
      + any-service | + parent
+ expect_log | string: [init -> service_init -> server] closing session with label test
+ sleep | ms: 150

+ message | string: test abandoned any-child routes
+ init_config | version: abandoned any-child 1
  + report | ids: yes | requested: yes | provided: yes
  + parent-provides
    + service ROM
    + service CPU
    + service PD
    + service LOG
  + default | caps: 100 | ram: 1M
  + start server
    + binary dummy
    + provides | + service LOG
    + config | + log_service
    + route | + any-service | + parent
  + start client | ram: 1M
    + binary dummy
    + config
      + log | string: client started
      + create_log_connections | count: 1
    + route
      + any-service
        + any-child
        + parent
+ expect_log | string: [init -> server] [client] client started
+ sleep | ms: 200
+ expect_init_state
  + node child
    + attribute name | value: server
    + attribute id   | value: 26
  + node child
    + attribute name | value: client
    + attribute id   | value: 27
+ sleep | ms: 150
+ init_config | version: abandoned any-child 2
  + report | ids: yes | requested: yes | provided: yes
  + parent-provides
    + service ROM
    + service CPU
    + service PD
    + service LOG
  + default | caps: 100 | ram: 1M
  + start client
    + binary dummy
    + config
      + log | string: client started
      + create_log_connections | count: 1
    + route
      + any-service
        + any-child
        + parent
+ expect_log | string: [init -> client] client started
+ sleep | ms: 200
+ expect_init_state
  + node child
    + attribute name | value: client
    + attribute id   | value: 28
+ sleep | ms: 150

+ message | string: heartbeat monitoring
+ init_config | version: flaky component is responsive
  + report
  + heartbeat | rate_ms: 100
  + parent-provides
    + service ROM
    + service CPU
    + service PD
    + service LOG
  + default | caps: 100
  + start flaky | ram: 2M
    + binary dummy
    + heartbeat
    + config | + log | string: started
    + route | + any-service | + parent
+ expect_log | string: [init -> flaky] started
+ sleep | ms: 150
+ expect_init_state
  + node child
    + attribute name | value: flaky
    + attribute skipped_heartbeats | value:
      .
      . The 'skipped_heartbeats' attribute must not be present.
      .
+ init_config | version: flaky component freezes
  + report
  + heartbeat | rate_ms: 100
  + parent-provides
    + service ROM
    + service CPU
    + service PD
    + service LOG
  + default | caps: 100
  + start flaky | ram: 2M
    + binary dummy
    + heartbeat
    + config | version: freeze
      + log | string: getting stuck...
      + sleep_forever | . heartbeat stops
    + route | + any-service | + parent
+ expect_log | string: [init -> flaky] getting stuck...
+ sleep | ms: 500
+ expect_init_state
  + node child
    + attribute name | value: flaky
    + attribute skipped_heartbeats | higher: 0

+ message | string: automatic restart after skipped heartbeats
+ init_config | version: heartbeat-monitored unresponsive component
  + report
  + heartbeat | rate_ms: 100
  + parent-provides
    + service ROM
    + service CPU
    + service PD
    + service LOG
  + default | caps: 100
  + start sleepy | ram: 2M
    + binary dummy
    + heartbeat | restart_after_skipped: 3
    + config
      + log | string: started
      + sleep_forever | . heartbeat stops
    + route | + any-service | + parent
+ expect_log | string: [init -> sleepy] started
+ expect_log | string: [init -> sleepy] started
+ expect_log | string: [init -> sleepy] started
+ sleep | ms: 150

+ message | string: test destruction of async env sessions
+ init_config | version: async env session
  + parent-provides
    + service ROM
    + service CPU
    + service PD
    + service LOG
  + default | caps: 100
  + start server | ram: 1M
    + binary dummy
    + provides | + service LOG
    + config | + log_service
    + route | + any-service | + parent
  + start dummy | version: 1 | ram: 1M
    + config | + log | string: started version 1
    + route
      + service LOG | + child server
      + any-service | + parent
+ expect_log | string: [init -> server] [dummy] started version 1
+ sleep | ms: 150
+ init_config | version: async env session
  + parent-provides
    + service ROM
    + service CPU
    + service PD
    + service LOG
  + default | caps: 100
  + start server | ram: 1M
    + binary dummy
    + provides | + service LOG
    + config | + log_service
    + route | + any-service | + parent
  + start dummy | version: 2 | ram: 1M
    + config | + log | string: started version 2
    + route
      + service LOG | + child server
      + any-service | + parent
+ expect_log | string: [init -> server] [dummy] started version 2
+ sleep | ms: 150

+ message | string: test invalid affinity configuration warning
+ init_config | version: affinity
  + parent-provides
    + service ROM
    + service CPU
    + service PD
    + service LOG
  + default | caps: 100
  + start affinity | ram: 2M
    + affinity | xpos: 0
    + binary dummy
    + config
    + route | + any-service | + parent
+ expect_warning
  string:  [init]
  colored: Warning: affinity-space configuration missing, but affinity defined for child affinity
+ sleep | ms: 350

+ message | string: destroy child while async close requested
+ init_config | version: dangling_close
  .
  . This is a regression test for issue #4039. A child is removed while a
  . close request issued by the child is still pending. Once the close request
  . is completed, the child can no longer be notified.
  .
  + parent-provides
    + service ROM
    + service CPU
    + service PD
    + service LOG
    + service Timer
  + default | caps: 100
  + report | requested: yes | provided: yes | delay_ms: 100
  + start server | ram: 1M
    + binary dummy
    + provides | + service LOG
    + config | + log_service | delay_close_ms: 750
    + route | + any-service | + parent
  + start client | ram: 1M
    + binary dummy
    + config
    | + log | string: client started
    | + create_log_connections | count: 1
    | + log | string: client created one log connection
    | + destroy_log_connections
    | + log | string: client destroyed log connection
    + route
      + service LOG | label_prefix: | + child server
      + any-service                 | + parent
+ sleep | ms: 600
+ expect_init_state
  + node child
    + attribute name | value: server
    + node provided
      + node session | + attribute state | value: CLOSE_REQUESTED
+ init_config | version: dangling_close
  + parent-provides
    + service ROM
    + service CPU
    + service PD
    + service LOG
    + service Timer
  + default | caps: 100
  + report | requested: yes | provided: yes | delay_ms: 100
  + start server | ram: 1M
    + binary dummy
    + provides | + service LOG
    + config | + log_service | delay_close_ms: 500
    + route | + any-service | + parent
+ sleep | ms: 750
+ expect_init_state
  + node child
    + attribute name | value: server
    + node provided
      + not
        + node session
+ sleep | ms: 150

+ message | string: test complete
-
