<config>
	<parent-provides>
		<service name="IRQ"/>
		<service name="IO_MEM"/>
		<service name="ROM"/>
		<service name="PD"/>
		<service name="RM"/>
		<service name="CPU"/>
		<service name="LOG"/>
		<service name="Timer"/>
		<service name="Uplink"/>
	</parent-provides>

	<default caps="100"/>

	<start name="platform_drv">
		<resource name="RAM" quantum="2M"/>
		<provides> <service name="Platform"/> </provides>
		<route> <any-service> <parent/> </any-service> </route>
		<config>

			<!-- device resource declarations -->

			<device name="ethernet">
				<io_mem address="0x4e000000" size="0x1000"/>
				<irq    number="60"/>
				<property name="compatible" value="smsc,lan9118"/>
			</device>

			<!-- policy part, who owns which devices -->

			<policy label="nic_drv -> ">
				<device name="ethernet"/>
			</policy>
		</config>
	</start>

	<start name="nic_drv">
		<binary name="lan9118_nic_drv"/>
		<resource name="RAM" quantum="4M"/>
		<config mode="uplink_client" mmio_base="0x4e000000" irq="60" />
		<route>
			<service name="Platform">
				<child name="platform_drv"/>
			</service>
			<service name="ROM">    <parent/> </service>
			<service name="PD">     <parent/> </service>
			<service name="CPU">    <parent/> </service>
			<service name="LOG">    <parent/> </service>
			<service name="Timer">  <parent/> </service>
			<service name="Uplink"> <parent/> </service>
		</route>
	</start>
</config>
