<config>
	<parent-provides>
		<service name="IRQ"/>
		<service name="IO_MEM"/>
		<service name="ROM"/>
		<service name="PD"/>
		<service name="RM"/>
		<service name="CPU"/>
		<service name="LOG"/>
		<service name="Timer"/>
		<service name="Uplink"/>
	</parent-provides>

	<default caps="100"/>

	<start name="platform" managing_system="yes">
		<resource name="RAM" quantum="2M"/>
		<provides> <service name="Platform"/> </provides>
		<route> <any-service> <parent/> </any-service> </route>
		<config>
			<policy label="nic -> ">
				<device name="ethernet"/>
			</policy>
		</config>
	</start>

	<start name="nic">
		<binary name="lan9118_nic"/>
		<resource name="RAM" quantum="4M"/>
		<route>
			<service name="Platform">
				<child name="platform"/>
			</service>
			<service name="ROM">    <parent/> </service>
			<service name="PD">     <parent/> </service>
			<service name="CPU">    <parent/> </service>
			<service name="LOG">    <parent/> </service>
			<service name="Timer">  <parent/> </service>
			<service name="Uplink"> <parent/> </service>
		</route>
	</start>
</config>
