<config>
	<parent-provides>
		<service name="IRQ"/>
		<service name="IO_MEM"/>
		<service name="ROM"/>
		<service name="PD"/>
		<service name="RM"/>
		<service name="CPU"/>
		<service name="LOG"/>
		<service name="Timer"/>
	</parent-provides>

	<default caps="100"/>

	<service name="Nic">
		<default-policy> <child name="nic_drv"/> </default-policy> </service>

	<start name="nic_drv" ld="no">
		<binary name="linux_nic_drv"/>
		<resource name="RAM" quantum="4M"/>
		<provides> <service name="Nic"/> </provides>
		<config/>
		<route> <any-service> <parent/> </any-service> </route>
	</start>
</config>
