<config>
	<parent-provides>
		<service name="IRQ"/>
		<service name="IO_MEM"/>
		<service name="ROM"/>
		<service name="PD"/>
		<service name="RM"/>
		<service name="CPU"/>
		<service name="LOG"/>
		<service name="Timer"/>
		<service name="Uplink"/>
	</parent-provides>

	<default caps="100"/>

	<start name="nic" ld="no">
		<binary name="linux_nic"/>
		<resource name="RAM" quantum="4M"/>
		<route> <any-service> <parent/> </any-service> </route>
	</start>
</config>
