<config>

	<parent-provides>
		<service name="IRQ"/>
		<service name="IO_MEM"/>
		<service name="IO_PORT"/>
		<service name="ROM"/>
		<service name="PD"/>
		<service name="RM"/>
		<service name="CPU"/>
		<service name="LOG"/>
		<service name="Timer"/>
	</parent-provides>

	<service name="Nic">
		<default-policy> <child name="rpi_usb_drv"/> </default-policy> </service>

	<start name="rpi_platform_drv" caps="200">
		<resource name="RAM" quantum="2M"/>
		<provides> <service name="Platform"/> </provides>
		<config/>
		<route>
			<service name="IRQ">    <parent/> </service>
			<service name="IO_MEM"> <parent/> </service>
			<service name="ROM">    <parent/> </service>
			<service name="PD">     <parent/> </service>
			<service name="RM">     <parent/> </service>
			<service name="CPU">    <parent/> </service>
			<service name="LOG">    <parent/> </service>
			<service name="Timer">  <parent/> </service>
		</route>
	</start>

	<start name="rpi_usb_drv" caps="120">
		<resource name="RAM" quantum="14M"/>
		<provides> <service name="Nic"/> </provides>
		<config ehci="yes"> <nic mac="02:00:00:00:01:01"/> </config>
		<route>
			<service name="IRQ">     <parent/> </service>
			<service name="IO_MEM">  <parent/> </service>
			<service name="ROM">     <parent/> </service>
			<service name="PD">      <parent/> </service>
			<service name="RM">      <parent/> </service>
			<service name="CPU">     <parent/> </service>
			<service name="LOG">     <parent/> </service>
			<service name="Timer">   <parent/> </service>
			<service name="Platform"> <child name="rpi_platform_drv"/> </service>
		</route>
	</start>

</config>
