<config>

	<parent-provides>
		<service name="IRQ"/>
		<service name="IO_MEM"/>
		<service name="IO_PORT"/>
		<service name="ROM"/>
		<service name="PD"/>
		<service name="RM"/>
		<service name="CPU"/>
		<service name="LOG"/>
		<service name="Timer"/>
		<service name="Uplink"/>
	</parent-provides>

	<start name="rpi_new_platform_drv" caps="200">
		<resource name="RAM" quantum="2M"/>
		<provides> <service name="Platform"/> </provides>
		<config>

			<device name="dwc_otg" type="brcm,bcm2835-usb">
				<io_mem address="0x20980000" size="0x10000"/>
				<irq number="9"/>
				<power-domain name="usb"/>
			</device>
			<policy label_prefix="rpi_usb_host_drv" info="yes">
				<device name="dwc_otg"/>
			</policy>

		</config>
		<route>
			<service name="IRQ">    <parent/> </service>
			<service name="IO_MEM"> <parent/> </service>
			<service name="ROM">    <parent/> </service>
			<service name="PD">     <parent/> </service>
			<service name="RM">     <parent/> </service>
			<service name="CPU">    <parent/> </service>
			<service name="LOG">    <parent/> </service>
			<service name="Timer">  <parent/> </service>
		</route>
	</start>

	<start name="rpi_usb_host_drv" caps="120">
		<resource name="RAM" quantum="10M"/>
		<provides> <service name="Usb"/> </provides>
		<config bios_handoff="yes">
			<policy label_prefix="usb_net_drv" vendor_id="0x0424" product_id="0xec00"/> }
		</config>
		<route>
			<service name="ROM">      <parent/> </service>
			<service name="PD">       <parent/> </service>
			<service name="RM">       <parent/> </service>
			<service name="CPU">      <parent/> </service>
			<service name="LOG">      <parent/> </service>
			<service name="Timer">    <parent/> </service>
			<service name="Platform"> <child name="rpi_new_platform_drv"/> </service>
		</route>
	</start>

	<start name="usb_net_drv" caps="120">
		<resource name="RAM" quantum="15M"/>
		<config mode="uplink_client" mac="02:00:00:00:01:01" />
		<route>
			<service name="ROM">    <parent/> </service>
			<service name="PD">     <parent/> </service>
			<service name="RM">     <parent/> </service>
			<service name="CPU">    <parent/> </service>
			<service name="LOG">    <parent/> </service>
			<service name="Timer">  <parent/> </service>
			<service name="Uplink"> <parent/> </service>
			<service name="Usb">    <child name="rpi_usb_host_drv"/> </service>
		</route>
	</start>

</config>
