*~
*.orig
*.swp
*.rej

/base-codezero/contrib
/base-fiasco/contrib
/base-fiasco/download
/base-foc/contrib
/base-nova/contrib
/base-nova/download
/base-okl4/contrib
/base-okl4/download
/base-pistachio/contrib
/dde_ipxe/contrib
/dde_linux/contrib
/dde_linux/download
/libports/contrib
/libports/download
/libports/include/EGL/egl.h
/libports/include/EGL/eglext.h
/libports/include/GL
/libports/include/KHR
/libports/include/SDL
/libports/include/ffat
/libports/include/freetype
/libports/include/ft2build.h
/libports/include/jbig2dec
/libports/include/libc-amd64/
/libports/include/libc-arm/
/libports/include/libc-i386/
/libports/include/libc/
/libports/include/libpng
/libports/include/lua
/libports/include/lwip/lwip
/libports/include/lwip/netif
/libports/include/mupdf
/libports/include/ncurses/MKterm.h.awk
/libports/include/ncurses/capdefaults.c
/libports/include/ncurses/curses.h
/libports/include/ncurses/hashed_db.h
/libports/include/ncurses/hashsize.h
/libports/include/ncurses/init_keytry.h
/libports/include/ncurses/keys.list
/libports/include/ncurses/nc_alloc.h
/libports/include/ncurses/nc_panel.h
/libports/include/ncurses/nc_tparm.h
/libports/include/ncurses/ncurses_def.h
/libports/include/ncurses/ncurses_dll.h
/libports/include/ncurses/parametrized.h
/libports/include/ncurses/term.h
/libports/include/ncurses/term_entry.h
/libports/include/ncurses/termcap.h
/libports/include/ncurses/tic.h
/libports/include/ncurses/unctrl.h
/libports/include/openjpeg
/libports/include/openssl
/libports/src/lib/openssl/x86_32/aes_enc.s
/libports/src/lib/openssl/x86_32/cpuid.s
/libports/src/lib/openssl/x86_64/aes_enc.s
/libports/src/lib/openssl/x86_64/cpuid.s
/libports/src/lib/openssl/x86_64/modexp512.s
/libports/src/lib/openssl/x86_64/rc4_md5.s
/libports/include/python2.6
/libports/include/qoost
/libports/include/readline/keymaps.h
/libports/include/readline/rlstdc.h
/libports/include/readline/rltypedefs.h
/libports/include/readline/tilde.h
/libports/include/zlib
/libports/include/gmp/gmp-impl.h
/libports/include/gmp/arm/gmp-mparam.h
/libports/include/gmp/x86_32/gmp-mparam.h
/libports/include/gmp/x86_64/gmp-mparam.h
/libports/include/mpc/
/libports/include/mpfr/
/libports/src/lib/gmp/mpn/asm-defs.m4
/libports/src/lib/gmp/mpn/arm/hamdist.c
/libports/src/lib/gmp/mpn/arm/popcount.c
/libports/src/lib/gmp/mpn/x86_32/add_n.asm
/libports/src/lib/gmp/mpn/x86_32/sub_n.asm
/libports/src/lib/gmp/mpn/x86_64/add_n.asm
/libports/src/lib/gmp/mpn/x86_64/hamdist.asm
/libports/src/lib/gmp/mpn/x86_64/popcount.asm
/libports/src/lib/gmp/mpn/x86_64/sub_n.asm
/libports/src/lib/ncurses/codes.c
/libports/src/lib/ncurses/comp_captab.c
/libports/src/lib/ncurses/fallback.c
/libports/src/lib/ncurses/make_hash
/libports/src/lib/ncurses/make_keys
/libports/src/lib/ncurses/names.c
/libports/src/lib/ncurses/unctrl.c
/libports/tool/mesa/glsl
/libports/tool/mupdf
/ports-foc/contrib
/ports-okl4/contrib
/ports-okl4/download
/ports/contrib
/ports/download
/ports/src/app/arora/html
/ports/src/lib/gdbserver_platform/generated
/qt4/contrib
/qt4/download
/qt4/tool/bootstrap
/qt4/tool/misc/var
/qt4/tool/moc
/qt4/tool/qmake/*.d
/qt4/tool/qmake/*.o
/qt4/tool/qmake/qmake
/qt4/tool/rcc
/qt4/tool/uic
/linux_drivers
