<config>
	<input name="numlock_enabled" rom="numlock" node="numlock">
		<attribute name="enabled" /> </input>

	<output node="remap">
		<if>
			<has_value input="numlock_enabled" value="no"/>
			<then>
				<inline>
					<key name="KEY_KP0"   to="KEY_INSERT"/>
					<key name="KEY_KP1"   to="KEY_END"/>
					<key name="KEY_KP2"   to="KEY_DOWN"/>
					<key name="KEY_KP3"   to="KEY_PAGEDOWN"/>
					<key name="KEY_KP4"   to="KEY_LEFT"/>
					<key name="KEY_KP5"   to="KEY_UNKNOWN"/>
					<key name="KEY_KP6"   to="KEY_RIGHT"/>
					<key name="KEY_KP7"   to="KEY_HOME"/>
					<key name="KEY_KP8"   to="KEY_UP"/>
					<key name="KEY_KP9"   to="KEY_PAGEUP"/>
					<key name="KEY_KPDOT" to="KEY_DELETE"/>
				</inline>
			</then>
		</if>
	</output>
</config>
