<config>

	<parent-provides>
		<service name="IRQ"/>
		<service name="IO_MEM"/>
		<service name="ROM"/>
		<service name="PD"/>
		<service name="RM"/>
		<service name="CPU"/>
		<service name="LOG"/>
		<service name="Timer"/>
		<service name="Capture"/>
		<service name="Event"/>
	</parent-provides>

	<default caps="60"/>

	<start name="report_rom">
		<resource name="RAM" quantum="1M"/>
		<provides> <service name="Report"/> <service name="ROM"/> </provides>
		<config verbose="no">
			<default-policy report="usb_drv -> devices"/>
		</config>
		<route>
			<any-service> <parent/> </any-service>
		</route>
	</start>

	<start name="rpi_platform_drv" caps="200">
		<resource name="RAM" quantum="2M"/>
		<provides> <service name="Platform"/> </provides>
		<config>

			<device name="dwc_otg" type="brcm,bcm2835-usb">
				<io_mem address="0x20980000" size="0x10000"/>
				<irq number="9"/>
				<power-domain name="usb"/>
			</device>
			<policy label_prefix="usb_drv" info="yes">
				<device name="dwc_otg"/>
			</policy>

		</config>
		<route>
			<service name="IRQ">    <parent/> </service>
			<service name="IO_MEM"> <parent/> </service>
			<service name="ROM">    <parent/> </service>
			<service name="PD">     <parent/> </service>
			<service name="RM">     <parent/> </service>
			<service name="CPU">    <parent/> </service>
			<service name="LOG">    <parent/> </service>
			<service name="Timer">  <parent/> </service>
		</route>
	</start>

	<start name="legacy_rpi_platform_drv" caps="200">
		<resource name="RAM" quantum="3M"/>
		<provides>
			<service name="Platform"/>
		</provides>
		<route>
			<service name="IRQ">     <parent/> </service>
			<service name="IO_MEM">  <parent/> </service>
			<service name="ROM">     <parent/> </service>
			<service name="PD">      <parent/> </service>
			<service name="CPU">     <parent/> </service>
			<service name="LOG">     <parent/> </service>
			<service name="Timer">   <parent/> </service>
		</route>
	</start>

	<start name="event_filter" caps="80">
		<resource name="RAM" quantum="1M"/>
		<provides> <service name="Event"/> </provides>
		<route>
			<service name="ROM" label="config"> <parent label="event_filter.config"/> </service>
			<service name="Event"> <parent/> </service>
			<any-service> <parent/> </any-service>
		</route>
	</start>

	<start name="usb_drv" caps="150">
		<binary name="rpi_usb_host_drv"/>
		<resource name="RAM" quantum="12M"/>
		<provides> <service name="Usb"/> </provides>
		<config bios_handoff="yes">
			<report devices="yes"/>
			<policy label_prefix="usb_hid_drv" class="0x3"/>
		</config>
		<route>
			<service name="Report"> <child name="report_rom"/> </service>
			<service name="RM">       <parent/> </service>
			<service name="ROM">      <parent/> </service>
			<service name="PD">       <parent/> </service>
			<service name="CPU">      <parent/> </service>
			<service name="LOG">      <parent/> </service>
			<service name="Timer">    <parent/> </service>
			<service name="Platform"> <child name="rpi_platform_drv"/> </service>
		</route>
	</start>

	<start name="usb_hid_drv" caps="140">
		<resource name="RAM" quantum="11M"/>
		<provides><service name="Input"/></provides>
		<config use_report="yes"/>
		<route>
			<service name="ROM" label="report"> <child name="report_rom"/> </service>
			<service name="Event"> <child name="event_filter" label="usb"/> </service>
			<service name="RM">    <parent/> </service>
			<service name="ROM">   <parent/> </service>
			<service name="PD">    <parent/> </service>
			<service name="CPU">   <parent/> </service>
			<service name="LOG">   <parent/> </service>
			<service name="Timer"> <parent/> </service>
			<service name="Usb"> <child name="usb_drv"/> </service>
		</route>
	</start>

	<start name="fb_drv" caps="120">
		<binary name="rpi_fb_drv"/>
		<resource name="RAM" quantum="4M"/>
		<route>
			<service name="ROM" label="config"> <parent label="fb_drv.config"/> </service>
			<service name="Platform"> <child name="legacy_rpi_platform_drv"/> </service>
			<service name="IO_MEM">   <parent/> </service>
			<service name="ROM">      <parent/> </service>
			<service name="PD">       <parent/> </service>
			<service name="CPU">      <parent/> </service>
			<service name="LOG">      <parent/> </service>
			<service name="Timer">    <parent/> </service>
			<service name="Capture">  <parent/> </service>
		</route>
	</start>

</config>
