<config>

	<parent-provides>
		<service name="IRQ"/>
		<service name="IO_MEM"/>
		<service name="ROM"/>
		<service name="PD"/>
		<service name="RM"/>
		<service name="CPU"/>
		<service name="LOG"/>
		<service name="Timer"/>
		<service name="Capture"/>
		<service name="Event"/>
	</parent-provides>

	<default caps="60"/>

	<start name="platform_drv" caps="200">
		<binary name="rpi_platform_drv"/>
		<resource name="RAM" quantum="3M"/>
		<provides>
			<service name="Platform"/>
		</provides>
		<route>
			<service name="IRQ">     <parent/> </service>
			<service name="IO_MEM">  <parent/> </service>
			<service name="ROM">     <parent/> </service>
			<service name="PD">      <parent/> </service>
			<service name="CPU">     <parent/> </service>
			<service name="LOG">     <parent/> </service>
			<service name="Timer">   <parent/> </service>
		</route>
	</start>

	<start name="fb_drv" caps="120">
		<binary name="rpi_fb_drv"/>
		<resource name="RAM" quantum="4M"/>
		<route>
			<service name="ROM" label="config"> <parent label="fb_drv.config"/> </service>
			<service name="Platform"> <child name="platform_drv"/> </service>
			<service name="IO_MEM">   <parent/> </service>
			<service name="ROM">      <parent/> </service>
			<service name="PD">       <parent/> </service>
			<service name="CPU">      <parent/> </service>
			<service name="LOG">      <parent/> </service>
			<service name="Timer">    <parent/> </service>
			<service name="Capture">  <parent/> </service>
		</route>
	</start>

	<start name="input_drv" caps="120">
		<binary name="rpi_usb_drv"/>
		<resource name="RAM" quantum="14M"/>
		<config uhci="yes" ehci="yes" xhci="no"> <hid/> </config>
		<route>
			<service name="Platform"> <child name="platform_drv"/> </service>
			<service name="ROM">      <parent/> </service>
			<service name="IRQ">      <parent/> </service>
			<service name="IO_MEM">   <parent/> </service>
			<service name="PD">       <parent/> </service>
			<service name="RM">       <parent/> </service>
			<service name="CPU">      <parent/> </service>
			<service name="LOG">      <parent/> </service>
			<service name="Timer">    <parent/> </service>
			<service name="Event">    <parent/> </service>
		</route>
	</start>

</config>
