config

+ parent-provides
  + service ROM
  + service PD
  + service RM
  + service CPU
  + service LOG
  + service File_system
  + service Timer
  + service Terminal

+ default-route
  + any-service
    + parent
    + any-child

+ default | caps: 100

+ start vfs | caps: 150 | ram: 12M
  + provides | + service File_system
  + config
  | + vfs
  |   + dir depot | + fs | label: depot -> /
  |   + dir debug | + ram
  |   + tar gdb.tar
  | + policy | label_prefix: vfs_rom              | root: /
  | + policy | label_prefix: gdb_support -> debug | root: /debug | writeable: yes
  | + default-policy                              | root: /      | writeable: no
  + route
    + service File_system | label_prefix: depot -> | + parent | identity: depot
    + any-service                                  | + parent

+ start gdb_support | ram: 16M
  + config
  | + vfs
  |   + dir config | + fs | label: config -> /
  |   + dir debug  | + fs | label: debug -> /
  + route
    + service File_system | label_prefix: config -> | + parent | identity: system_config
    + service File_system | label_prefix: debug ->  | + child vfs
    + service ROM | label: build_info               | + parent | label: build_info
    + any-service                                   | + parent

+ start vfs_rom | ram: 16M
  + binary cached_fs_rom
  + provides | + service ROM
  + config
  + route
    + service File_system | + child vfs
    + any-service         | + parent

+ start gdb | caps: 1000 | ram: 1G
  + binary /bin/genode-x86-gdb
  + config
  | + vfs
  |   + dir dev
  |     + log
  |     + inline rtc | : 2018-01-01 00:01
  |     + terminal monitor | label: monitor
  |     + terminal tty     | label: ui
  |   + dir pipe | + pipe
  |   + fs
  | + libc | stdin: /dev/tty | stdout: /dev/tty | stderr: /dev/tty
  |        | pipe:  /pipe    | rtc:    /dev/rtc
  | + arg genode-x86-gdb
  | + arg -ex | : set non-stop on
  | + arg -ex | : target extended-remote /dev/monitor
  + route
    + service File_system                           | + child vfs
    + service ROM | label_suffix: .lib.so           | + parent
    + service ROM | label_last: /bin/genode-x86-gdb | + child vfs_rom
    + service Terminal | label: monitor             | + parent | label: monitor
    + service Terminal | label: ui                  | + parent | label: ui
    + any-service
      + parent
      + any-child
-
