config
+ libc
+ vfs
  + rom | genode_logo.png
  + rom | grid.png
  + rom | sticks_blue.png
+ fill | color: #223344
+ image | png: sticks_blue.png | scale: zoom | alpha: 200 | anchor: bottom_left
+ image | png: grid.png        | tiled: yes  | alpha: 200
+ image | png: genode_logo.png | anchor: bottom_right | alpha: 150 | xpos: -20 | ypos: -20
-
