<config>
	<libc/>
	<vfs>
		<rom name="genode_logo.png"/>
		<rom name="grid.png"/>
		<rom name="sticks_blue.png"/>
	</vfs>
	<fill color="#223344" />
	<image png="sticks_blue.png" scale="zoom" anchor="bottom_left" alpha="200"/>
	<image png="grid.png"        tiled="yes" alpha="200" />
	<image png="genode_logo.png" anchor="bottom_right" alpha="150"
	                             xpos="-20" ypos="-20" />
</config>
