config
+ parent-provides
  + service ROM
  + service PD
  + service RM
  + service CPU
  + service LOG
  + service Timer
  + service File_system
  + service Gui
  + service Report

+ default-route
  + any-service
    + parent
    + any-child

+ default | caps: 100

+ start terminal | caps: 150 | ram: 48M
  + provides | + service Terminal
  + config | copy: yes | paste: yes
  | + initial | width: 800 | height: 600
  | + vfs
  |   + dir fonts
  |     + fs
  + route
    + service File_system               | + parent | identity: fonts
    + service Gui                       | + parent | label: terminal
    + service Report | label: clipboard | + parent | label: clipboard
    + service ROM    | label: clipboard | + parent | label: clipboard
    + any-service
      + parent
      + any-child

+ start vfs | caps: 250 | ram: 12M
  + provides | + service File_system
  + config
  | + vfs
  | | + tar bash-minimal.tar
  | | + tar coreutils-minimal.tar
  | | + tar vim-minimal.tar
  | | + tar vim_syntax.tar
  | | + tar tclsh.tar
  | | + tar hid.tar
  | | + dir dev
  | | | + zero
  | | | + null
  | | | + terminal
  | | | + inline rtc | : 2018-01-01 00:01
  | | + dir pipe   | + pipe
  | | + dir rw     | + fs | label: target
  | | + dir report | + fs | label: report
  | | + dir config | + fs | label: config
  | | + dir tmp    | + ram
  | | + dir share
  | |   + dir vim
  | |     + rom vimrc | binary: no
  | + policy | label_prefix: vfs_rom | root: /
  | + default-policy | root: / | writeable: yes
  + route
    + service File_system | label: target | + parent | label: target -> /
    + service File_system | label: config | + parent | label: config -> /
    + service File_system | label: report | + parent | label: report -> /
    + service ROM         | label: vimrc  | + parent | label: vimrc
    + service Terminal                    | + child terminal
    + any-service                         | + parent

+ start vfs_rom | ram: 16M
  + binary cached_fs_rom
  + provides | + service ROM
  + config
  + route
    + service File_system | + child vfs
    + any-service         | + parent

+ start /bin/bash | caps: 450 | ram: 28M
  + exit | propagate: yes
  + config
  | + libc
  |   stdin: /dev/terminal | stdout: /dev/terminal | stderr: /dev/terminal
  |   rtc:   /dev/rtc      | pipe:   /pipe
  | + vfs | + fs
  | + arg | value: bash
  | + env TERM  | : screen
  | + env PATH  | : /bin
  | + env PS1   | : system:$PWD> 
  | + env SHELL | : /bin/bash
  + route
    + service File_system | + child vfs
    + service ROM | label_suffix: .lib.so | + parent
    + service ROM | label_last: /bin/bash | + child vfs_rom
    + service ROM | label_prefix: /bin    | + child vfs_rom
    + any-service
      + parent
      + any-child
-
