<config>
	<parent-provides>
		<service name="IRQ"/>
		<service name="IO_MEM"/>
		<service name="ROM"/>
		<service name="PD"/>
		<service name="RM"/>
		<service name="CPU"/>
		<service name="LOG"/>
		<service name="Timer"/>
		<service name="Gpio"/>
	</parent-provides>

	<default caps="100"/>

	<service name="Nic">
		<default-policy> <child name="nic_drv"/> </default-policy> </service>

	<start name="nic_drv" caps="150">
		<binary name="fec_nic_drv"/>
		<resource name="RAM" quantum="20M"/>
		<provides> <service name="Nic"/> </provides>
		<config>
			<!-- ENET1: IRQ 120 + 32 = 152 -->
			<card type="fsl,imx6sx-fec" mii="rgmii" irq="152" mmio="0x30be0000"/>
			<!-- ENET2: IRQ 102 + 32 = 134 -->
			<card type="fsl,imx6sx-fec" mii="rgmii" irq="134" mmio="0x30bf0000"/>
		</config>
		<route> <any-service> <parent/> </any-service> </route>
	</start>
</config>
