<config>
	<parent-provides>
		<service name="ROM"/>
		<service name="PD"/>
		<service name="RM"/>
		<service name="CPU"/>
		<service name="LOG"/>
		<service name="Nitpicker"/>
		<service name="Timer"/>
	</parent-provides>

	<default-route>
		<any-service> <parent/> <any-child/> </any-service>
	</default-route>

	<default caps="100"/>

	<start name="nit_fb">
		<resource name="RAM" quantum="16M"/>
		<provides> <service name="Framebuffer"/> <service name="Input"/> </provides>
		<config xpos="64" ypos="64" initial_width="320" initial_height="240"/>
	</start>

	<start name="pdf_view" caps="300">
		<binary name="pdf_view"/>
		<resource name="RAM" quantum="100M"/>
		<config>
			<vfs>
				<rom name="test.pdf" />
				<dir name="dev"> <log/> </dir>
			</vfs>
			<libc stdout="/dev/log" stderr="/dev/log"/>
		</config>
		<route>
			<service name="ROM" label="test.pdf"> <parent label="slides.pdf"/> </service>
			<any-service> <parent/> <any-child/> </any-service>
		</route>
	</start>
</config>
