<config>
	<parent-provides>
		<service name="ROM"/>
		<service name="PD"/>
		<service name="RM"/>
		<service name="CPU"/>
		<service name="LOG"/>
		<service name="Timer"/>
		<service name="File_system"/>
		<service name="Gui"/>
		<service name="Nic"/>
	</parent-provides>

	<default-route> <any-service> <parent/> </any-service> </default-route>
	<default caps="100"/>

	<start name="vfs">
		<resource name="RAM" quantum="10M"/>
		<provides><service name="File_system"/></provides>
		<config>
			<vfs>
				<tar name="bash-minimal.tar"/>
				<tar name="coreutils-minimal.tar"/>
				<tar name="assets.tar"/>
				<dir name="dev">
					<log/>
					<zero/>
					<null/>
				</dir>
				<dir name="vm">
					<fs label="target"/>
				</dir>
				<inline name=".profile">
cp /machine.vbox /disk0.vmdk /vm
				</inline>
			</vfs>

			<policy label_prefix="vfs_rom" root="/"/>
			<default-policy root="/" writeable="yes"/>
		</config>
		<route>
			<service name="File_system" label="target">
				<parent label="target"/> </service>
			<any-service> <parent/> </any-service>
		</route>
	</start>

	<start name="vfs_rom">
		<resource name="RAM" quantum="4M"/>
		<binary name="cached_fs_rom"/>
		<provides> <service name="ROM"/> </provides>
		<config/>
		<route>
			<service name="File_system"> <child name="vfs"/> </service>
			<any-service> <parent/> </any-service>
		</route>
	</start>

	<start name="/bin/bash" caps="450">
		<resource name="RAM" quantum="10M" />
		<exit propagate="yes"/>
		<config>
			<libc stdin="/dev/null" stdout="/dev/null" stderr="/dev/null"/>
			<vfs> <fs/> </vfs>
			<arg value="bash"/>
			<arg value="--login"/>
			<env key="TERM" value="screen"/>
			<env key="HOME" value="/"/>
			<env key="PATH" value="/bin" />
			<env key="PS1"  value="system:$PWD> " />
		</config>
		<route>
			<service name="File_system"> <child name="vfs"/> </service>
			<service name="ROM" label_suffix=".lib.so"> <parent/> </service>
			<service name="ROM" label_last="/bin/bash"> <child name="vfs_rom"/> </service>
			<service name="ROM" label_prefix="/bin">    <child name="vfs_rom"/> </service>
			<any-service> <parent/> </any-service>
		</route>
	</start>

	<start name="terminal">
		<resource name="RAM" quantum="8M"/>
		<provides> <service name="Terminal"/> </provides>
		<config>
			<initial width="900" height="200"/>
			<vfs> <dir name="fonts"> <fs/> </dir> </vfs>
		</config>
		<route>
			<service name="File_system"> <parent label="fonts"/> </service>
			<any-service> <parent/> </any-service>
		</route>
	</start>

	<start name="terminal_log">
		<resource name="RAM" quantum="1M"/>
		<provides> <service name="LOG"/> </provides>
		<config/>
		<route>
			<service name="Terminal"> <child name="terminal"/> </service>
			<any-service> <parent/> </any-service>
		</route>
	</start>

	<start name="report">
		<binary name="report_rom"/>
		<resource name="RAM" quantum="1M"/>
		<provides> <service name="Report"/> <service name="ROM"/> </provides>
		<config verbose="yes"/>
		<route>
			<service name="LOG"> <child name="terminal_log"/> </service>
			<any-service> <parent/> </any-service>
		</route>
	</start>

	<start name="download" caps="300">
		<exit propagate="yes"/>
		<binary name="fetchurl"/>
		<resource name="RAM" quantum="40M"/>
		<config>
			<report progress="yes"/>
			<vfs>
				<dir name="dev">
					<log/> <null/>
					<inline name="rtc">2019-07-04 12:00</inline>
					<inline name="random">01234567890123456789</inline>
				</dir>
				<dir name="socket"> <lxip dhcp="yes"/> </dir>
				<dir name="vm"> <fs label="target"/> </dir>
			</vfs>
			<libc stdout="/dev/log" stderr="/dev/log" rtc="/dev/rtc" socket="/socket"/>
			<fetch url="http://tinycorelinux.net/11.x/x86/release/CorePlus-current.iso"
			       path="/vm/installer.iso" retry="3"/>
		</config>
		<route>
			<service name="File_system" label="target">
				<parent label="target"/> </service>
			<service name="LOG"> <parent/> </service>
			<service name="Report"> <child name="report"/> </service>
			<any-service> <parent/> </any-service>
		</route>
	</start>

</config>
