<config>

	<parent-provides>
		<service name="ROM"/>
		<service name="PD"/>
		<service name="RM"/>
		<service name="CPU"/>
		<service name="LOG"/>
		<service name="Timer"/>
	</parent-provides>

	<default caps="100"/>

	<service name="Rtc"> <default-policy> <child name="system_rtc"/> </default-policy> </service>
	<service name="Report"> <default-policy> <child name="report_rom"/> </default-policy> </service>

	<start name="report_rom">
		<resource name="RAM" quantum="1M"/>
		<provides> <service name="Report"/> <service name="ROM"/> </provides>
		<config verbose="yes">
			<policy label="linux_rtc -> set_rtc"    report="test-system_rtc -> drv_set_rtc"/>
			<policy label="system_rtc -> set_rtc" report="test-system_rtc -> sys_set_rtc"/>
		</config>
		<route>
			<any-service> <parent/> </any-service>
		</route>
	</start>

	<start name="linux_rtc" ld="no">
		<resource name="RAM" quantum="1M"/>
		<provides><service name="Rtc"/></provides>
		<config allow_setting_rtc="true"/>
		<route>
			<service name="ROM" label="set_rtc"> <child name="report_rom"/> </service>
			<any-service> <parent/> </any-service>
		</route>
	</start>

	<start name="system_rtc">
		<resource name="RAM" quantum="1M"/>
		<provides><service name="Rtc"/></provides>
		<config allow_setting_rtc="true"/>
		<route>
			<service name="ROM" label="set_rtc"> <child name="report_rom"/> </service>
			<service name="Rtc"> <child name="linux_rtc"/> </service>
			<any-service> <parent/> </any-service>
		</route>
	</start>

</config>
