--- src/kernel/sel4/configs/imx6/wand_quad/autoconf.h
+++ src/kernel/sel4/configs/imx6/wand_quad/autoconf.h
@@ -41,6 +41,7 @@
 #define CONFIG_LIBSEL4DEBUG_FUNCTION_INSTRUMENTATION_NONE 1
 #define CONFIG_LIB_SEL4_UTILS 1
 #define CONFIG_LIB_SEL4_VSPACE 1
+#define CONFIG_PRINTING 1
 #define CONFIG_LIB_PLATSUPPORT 1
 #define CONFIG_LIB_SEL4_ALLOCMAN 1
 #define CONFIG_HAVE_LIB_SEL4_SIMPLE_DEFAULT 1
@@ -71,14 +71,14 @@
 #define CONFIG_HAVE_LIB_SEL4_SIMPLE 1
 #define CONFIG_ARCH_ARM 1
 #define CONFIG_HAVE_LIB_ELF 1
-#define CONFIG_PLAT_SABRE 1
+#define CONFIG_PLAT_WANDQ 1
 #define CONFIG_HAVE_LIB_PLATSUPPORT 1
 #define CONFIG_NUM_DOMAINS 16
 #define CONFIG_HAVE_LIB_UTILS 1
 #define CONFIG_USER_OPTIMISATION_O2 1
 #define CONFIG_LIB_CPIO 1
 #define CONFIG_RETYPE_FAN_OUT_LIMIT 256
-#define CONFIG_ROOT_CNODE_SIZE_BITS 12
+#define CONFIG_ROOT_CNODE_SIZE_BITS 15
 #define CONFIG_NUM_PRIORITIES 256
 #define CONFIG_TESTPRINTER_REGEX ".*"
 #define CONFIG_APP_SEL4TEST 1
@@ -93,3 +93,5 @@
 #define CONFIG_BUILDSYS_USE_CCACHE 1
 #define CONFIG_MAX_NUM_NODES 1
 #define CONFIG_KERNEL_STACK_BITS 12
+#define CONFIG_ENABLE_BENCHMARKS 1
+#define CONFIG_BENCHMARK_TRACK_UTILISATION 1
