config
+ parent-provides
  + service IRQ
  + service IO_MEM
  + service IO_PORT
  + service ROM
  + service PD
  + service RM
  + service CPU
  + service LOG
  + service Timer
  + service Capture
  + service Event

+ default | caps: 60

+ start acpi | caps: 250 | ram: 4M
  + route
    + service IO_MEM | + parent
    + service LOG    | + parent
    + service PD     | + parent
    + service RM     | + parent
    + service CPU    | + parent
    + service ROM    | + parent
    + service Report | + child report_rom

+ start report_rom | caps: 100 | ram: 2M
  + provides
  | + service ROM
  | + service Report
  + config
  | + policy | label: pci_decode -> system | report: acpi -> acpi
  | + policy | label: platform -> devices  | report: pci_decode -> devices
  | + policy | label: usb_hid -> report    | report: usb -> devices
  + route
    + service LOG | + parent
    + service PD  | + parent
    + service CPU | + parent
    + service ROM | + parent

+ start pci_decode | caps: 100 | ram: 2M
  + route
    + service Report              | + child report_rom
    + service ROM | label: system | + child report_rom
    + service IO_MEM              | + parent
    + service LOG                 | + parent
    + service PD                  | + parent
    + service RM                  | + parent
    + service CPU                 | + parent
    + service ROM                 | + parent

+ start platform | caps: 200 | ram: 3M | managing_system: yes
  + provides
  | + service Platform
  + route
  | + service ROM | label: devices | + child report_rom
  | + service Report               | + child report_rom
  | + service IRQ                  | + parent
  | + service IO_MEM               | + parent
  | + service IO_PORT              | + parent
  | + service ROM                  | + parent
  | + service PD                   | + parent
  | + service CPU                  | + parent
  | + service LOG                  | + parent
  | + service Timer                | + parent
  + config
    + report | devices: yes
    + policy | label_prefix: ps2             | + device ps2
    + policy | label_prefix: fb  | info: yes | + pci | class: VGA
    + policy | label_prefix: usb | info: yes | + pci | class: USB

+ start fb | caps: 150 | ram: 20M
  + binary vesa_fb
  + route
    + service ROM | label: config | + parent | label: fb.config
    + service Report              | + child report_rom
    + service Platform            | + child platform
    + service IO_PORT             | + parent
    + service IO_MEM              | + parent
    + service ROM                 | + parent
    + service PD                  | + parent
    + service CPU                 | + parent
    + service LOG                 | + parent
    + service Timer               | + parent
    + service Capture             | + parent

+ start ps2 | caps: 100 | ram: 1280K
  + config
  + route
    + service Platform | + child platform
    + service Event    | + child event_filter | label: ps2
    + service ROM      | + parent
    + service PD       | + parent
    + service CPU      | + parent
    + service LOG      | + parent
    + service Timer    | + parent

+ start usb | caps: 200 | ram: 16M
  + binary pc_usb_host
  + provides | + service Usb
  + config
  | + report | devices: yes
  | + policy | label_prefix: usb_hid | + device | class: 0x3
  + route
    + service Platform                | + child platform
    + service Report | label: devices | + child report_rom
    + service ROM                     | + parent
    + service PD                      | + parent
    + service RM                      | + parent
    + service CPU                     | + parent
    + service LOG                     | + parent
    + service Timer                   | + parent

+ start usb_hid | caps: 180 | ram: 10M
  + route
    + service ROM | label: report | + child report_rom
    + service ROM                 | + parent
    + service PD                  | + parent
    + service RM                  | + parent
    + service CPU                 | + parent
    + service LOG                 | + parent
    + service Timer               | + parent
    + service Event               | + child event_filter | label: usb
    + service Usb                 | + child usb

+ start event_filter | caps: 90 | ram: 1280K
  + provides | + service Event
  + route
    + service ROM | label: config | + parent | label: event_filter.config
    + service Event               | + parent
    + service ROM                 | + parent
    + service PD                  | + parent
    + service CPU                 | + parent
    + service LOG                 | + parent
    + service Timer               | + parent
-
