<config>
	<input label="ps2"/>
	<input label="usb"/>
	<output>
		<chargen>
			<merge>
				<input name="ps2"/>
				<input name="usb"/>
			</merge>
			<mod1>
				<key name="KEY_LEFTSHIFT"/> <key name="KEY_RIGHTSHIFT"/>
			</mod1>
			<mod2>
				<key name="KEY_LEFTCTRL"/> <key name="KEY_RIGHTCTRL"/>
			</mod2>
			<mod3>
				<key name="KEY_RIGHTALT"/> <!-- AltGr -->
			</mod3>
			<repeat delay_ms="500" rate_ms="250"/>
			<include rom="en_us.chargen"/>
		</chargen>
	</output>
</config>
