<config>
	<input label="ps2"/>
	<input label="usb"/>
	<output>
		<chargen>
			<merge>
				<accelerate max="50" sensitivity_percent="1000" curve="127">
					<button-scroll>
						<input name="ps2"/>
						<vertical   button="BTN_MIDDLE" speed_percent="-10"/>
						<horizontal button="BTN_MIDDLE" speed_percent="-10"/>
					</button-scroll>
				</accelerate>
				<input name="usb"/>
			</merge>
			<mod1>
				<key name="KEY_LEFTSHIFT"/> <key name="KEY_RIGHTSHIFT"/>
			</mod1>
			<mod2>
				<key name="KEY_LEFTCTRL"/> <key name="KEY_RIGHTCTRL"/>
			</mod2>
			<mod3>
				<key name="KEY_RIGHTALT"/> <!-- AltGr -->
			</mod3>
			<repeat delay_ms="230" rate_ms="90"/>
			<include rom="en_us.chargen"/>
		</chargen>
	</output>
</config>
