<config>
	<parent-provides>
		<service name="CPU"/>
		<service name="LOG"/>
		<service name="PD"/>
		<service name="RM"/>
		<service name="ROM"/>
		<service name="Timer"/>
		<service name="Nic"/>
	</parent-provides>

	<service name="Rtc">
		<default-policy> <child name="dummy_rtc_drv"/> </default-policy> </service>

	<start name="report_rom" caps="100">
		<resource name="RAM" quantum="1M"/>
		<provides> <service name="Report"/> <service name="ROM"/> </provides>
		<config>
			<policy label_suffix="set_rtc" report="sntp_client -> set_rtc"/>
		</config>
		<route> <any-service> <parent/> </any-service> </route>
	</start>

	<start name="dummy_rtc_drv" caps="100">
		<resource name="RAM" quantum="1M"/>
		<provides> <service name="Rtc"/> </provides>
		<config allow_setting_rtc="true"/>
		<route>
			<service name="ROM" label="set_rtc"> <child name="report_rom"/> </service>
			<any-service> <parent/> </any-service>
		</route>
	</start>

	<start name="sntp_client" caps="100">
		<resource name="RAM" quantum="4M"/>
		<config verbose="no" dst_addr="pool.ntp.org" period_min="5"/>
		<route>
			<service name="Report"> <child name="report_rom"/> </service>
			<any-service> <parent/> </any-service>
		</route>
	</start>

</config>
