config
+ parent-provides
  + service CPU
  + service LOG
  + service PD
  + service RM
  + service ROM
  + service Timer
  + service Nic

+ service Rtc | + default-policy | + child dummy_rtc

+ start report_rom | caps: 100 | ram: 1M
  + provides
    + service Report
    + service ROM
  + config
    + policy | label_suffix: set_rtc | report: sntp_client -> set_rtc
  + route | + any-service | + parent

+ start dummy_rtc | caps: 100 | ram: 1M
  + provides | + service Rtc
  + config | allow_setting_rtc: true
  + route
    + service ROM | label: set_rtc | + child report_rom
    + any-service                  | + parent

+ start sntp_client | caps: 100 | ram: 4M
  + config | verbose: no | dst_addr: pool.ntp.org | period_min: 5
  + route
    + service Report | + child report_rom
    + any-service    | + parent
-
