<config>
	<parent-provides>
		<service name="ROM"/>
		<service name="PD"/>
		<service name="CPU"/>
		<service name="LOG"/>
		<service name="Nitpicker"/>
		<service name="Timer"/>
		<service name="Report"/>
	</parent-provides>
	<start name="decorator" caps="100">
		<resource name="RAM" quantum="8M"/>
		<config>
			<controls> <maximizer/> <title/> </controls>
		</config>
		<route>
			<service name="ROM"    label="window_layout">     <parent label="window_layout"/>     </service>
			<service name="ROM"    label="pointer">           <parent label="pointer"/>           </service>
			<service name="Report" label="decorator_margins"> <parent label="decorator_margins"/> </service>
			<service name="Report" label="hover">             <parent label="hover"/>             </service>
			<any-service> <parent/> </any-service>
		</route>
	</start>
</config>
