<config>
  <press key="KEY_SCREEN">
    <press key="KEY_TAB"              action="next_window">
      <release key="KEY_TAB">
        <release key="KEY_SCREEN"     action="raise_window"/>
      </release>
      <release key="KEY_SCREEN"       action="raise_window"/>
    </press>
    <press key="KEY_LEFTSHIFT">
      <press key="KEY_TAB"            action="prev_window">
        <release key="KEY_TAB">
          <release key="KEY_SCREEN"   action="raise_window"/>
        </release>
      </press>
    </press>
    <press key="KEY_ENTER"            action="toggle_fullscreen"/>
  </press>
</config>
