config
+ parent-provides
  + service ROM
  + service PD
  + service CPU
  + service LOG
  + service Gui
  + service Timer
  + service Report
+ default-route
  + any-service
    + parent
    + any-child
+ default | caps: 100

+ service Gui | + default-policy | + child wm

+ service ROM
  + policy | label_suffix: -> window_list       | + child report_rom | label: layouter -> window_list
  + policy | label_suffix: -> focus_request     | + child report_rom | label: layouter -> focus_request
  + policy | label_suffix: -> hover             | + child report_rom | label: layouter -> hover
  + policy | label_suffix: -> decorator_margins | + child report_rom | label: layouter -> decorator_margins
  + policy | label_suffix: -> rules             | + child report_rom | label: layouter -> rules
  + policy | label_suffix: -> window_layout     | + child report_rom | label: decorator -> window_layout
  + policy | label_suffix: -> pointer           | + child report_rom | label: decorator -> pointer
  + policy | label_suffix: -> clipboard         | + child wm

+ service Report
  + policy | label_suffix: -> window_layout     | + child report_rom | label: layouter -> window_layout
  + policy | label_suffix: -> resize_request    | + child report_rom | label: layouter -> resize_request
  + policy | label_suffix: -> focus             | + child report_rom | label: layouter -> focus
  + policy | label_suffix: -> rules             | + child report_rom | label: layouter -> rules
  + policy | label_suffix: -> hover             | + child report_rom | label: decorator -> hover
  + policy | label_suffix: -> decorator_margins | + child report_rom | label: decorator -> decorator_margins
  + policy | label_suffix: -> shape             | + child wm
  + policy | label_suffix: -> clipboard         | + child wm

+ start report_rom | ram: 4M
  + provides
  | + service Report
  | + service ROM
  + config
    + policy | label: layouter -> window_list       | report: wm -> window_list
    + policy | label: layouter -> focus_request     | report: wm -> focus_request
    + policy | label: layouter -> hover             | report: decorator -> hover
    + policy | label: layouter -> decorator_margins | report: decorator -> decorator_margins
    + policy | label: layouter -> rules             | report: layouter -> rules
    + policy | label: decorator -> window_layout    | report: layouter -> window_layout
    + policy | label: decorator -> pointer          | report: wm -> pointer
    + policy | label: wm -> resize_request          | report: layouter -> resize_request
    + policy | label: wm -> focus                   | report: layouter -> focus

+ start wm | caps: 150 | ram: 2M
  + provides
  | + service Gui
  | + service Report
  | + service ROM
  + config
  | + policy | label_suffix: decorator -> | role: decorator
  | + policy | label_suffix: layouter ->  | role: layouter
  | + default-policy
  + route
    + service ROM    | label: resize_request | + child report_rom
    + service ROM    | label: focus          | + child report_rom
    + service ROM    | label_last: clipboard | + parent
    + service Report | label_last: clipboard | + parent
    + service Report | label_last: shape     | + parent
    + service Report                         | + child report_rom
    + service Gui    | label:                | + parent | label: focus
    + any-service                            | + parent
-
