config
+ parent-provides
  + service ROM
  + service PD
  + service CPU
  + service LOG
  + service Gui
  + service Timer
  + service Report
+ start decorator | caps: 100 | ram: 20M
  + config
  | + controls
  | | + maximizer
  | | + title
  | + default-policy
  + route
    + service ROM    | label: window_layout     | + parent | label: window_layout
    + service ROM    | label: pointer           | + parent | label: pointer
    + service Report | label: decorator_margins | + parent | label: decorator_margins
    + service Report | label: hover             | + parent | label: hover
    + any-service                               | + parent
-
