<config rules="rom">
	<report rules="yes"/>

	<rules>
		<screen name="screen_1"/>
		<screen name="screen_2"/>
		<screen name="screen_3"/>
		<screen name="screen_4"/>
		<screen name="screen_5"/>
		<screen name="screen_6"/>
		<screen name="screen_7"/>
		<screen name="screen_8"/>
		<screen name="screen_9"/>
		<screen name="screen_0"/>
		<assign label_prefix="" target="screen_1" xpos="any" ypos="any"/>
	</rules>

	<press key="KEY_SCREEN">
		<press key="KEY_TAB" action="next_window">
			<release key="KEY_TAB">
				<release key="KEY_SCREEN" action="raise_window"/>
			</release>
			<release key="KEY_SCREEN" action="raise_window"/>
		</press>
		<press key="KEY_LEFTSHIFT">
			<press key="KEY_TAB" action="prev_window">
				<release key="KEY_TAB">
					<release key="KEY_SCREEN" action="raise_window"/>
				</release>
			</press>
		</press>
		<press key="KEY_ENTER" action="toggle_fullscreen"/>
		<press key="KEY_1"     action="screen" target="screen_1"/>
		<press key="KEY_2"     action="screen" target="screen_2"/>
		<press key="KEY_3"     action="screen" target="screen_3"/>
		<press key="KEY_4"     action="screen" target="screen_4"/>
		<press key="KEY_5"     action="screen" target="screen_5"/>
		<press key="KEY_6"     action="screen" target="screen_6"/>
		<press key="KEY_7"     action="screen" target="screen_7"/>
		<press key="KEY_8"     action="screen" target="screen_8"/>
		<press key="KEY_9"     action="screen" target="screen_9"/>
		<press key="KEY_0"     action="screen" target="screen_0"/>
	</press>
</config>
