config | rules: rom
+ report | rules: yes
+ rules
  + display primary
  + display secondary
  + display ternary

  + screen screen_1 | display: primary
  + screen screen_2 | display: primary
  + screen screen_3 | display: primary
  + screen screen_4 | display: secondary
  + screen screen_5 | display: secondary
  + screen screen_6 | display: secondary
  + screen screen_7 | display: ternary
  + screen screen_8 | display: ternary
  + screen screen_9 | display: ternary
  + screen screen_0

  + assign | label_prefix: | target: screen_1 | xpos: any | ypos: any

+ press KEY_SCREEN
  + press KEY_TAB            | action: next_window
  | + release KEY_TAB
  |   + release KEY_SCREEN   | action: raise_window
  | + release KEY_SCREEN     | action: raise_window
  + press KEY_LEFTSHIFT
    + press KEY_TAB          | action: prev_window
      + release KEY_TAB
        + release KEY_SCREEN | action: raise_window

+ press KEY_SCREEN
  + press KEY_LEFTSHIFT | action: pick_up
  | + press KEY_1 | action: screen | target: screen_1
  | + press KEY_2 | action: screen | target: screen_2
  | + press KEY_3 | action: screen | target: screen_3
  | + press KEY_4 | action: screen | target: screen_4
  | + press KEY_5 | action: screen | target: screen_5
  | + press KEY_6 | action: screen | target: screen_6
  | + press KEY_7 | action: screen | target: screen_7
  | + press KEY_8 | action: screen | target: screen_8
  | + press KEY_9 | action: screen | target: screen_9
  | + press KEY_0 | action: screen | target: screen_0
  | + release KEY_LEFTSHIFT | action: place_down
  + press KEY_1 | action: screen | target: screen_1
  + press KEY_2 | action: screen | target: screen_2
  + press KEY_3 | action: screen | target: screen_3
  + press KEY_4 | action: screen | target: screen_4
  + press KEY_5 | action: screen | target: screen_5
  + press KEY_6 | action: screen | target: screen_6
  + press KEY_7 | action: screen | target: screen_7
  + press KEY_8 | action: screen | target: screen_8
  + press KEY_9 | action: screen | target: screen_9
  + press KEY_0 | action: screen | target: screen_0

+ press KEY_SCREEN  | action: release_grab
  + press KEY_ENTER | action: toggle_fullscreen

+ press KEY_SCREEN  | action: free_arrange
  + press BTN_LEFT | action: drag
  | + release BTN_LEFT | action: drop
  | + press KEY_1 | action: screen | target: screen_1
  | + press KEY_2 | action: screen | target: screen_2
  | + press KEY_3 | action: screen | target: screen_3
  | + press KEY_4 | action: screen | target: screen_4
  | + press KEY_5 | action: screen | target: screen_5
  | + press KEY_6 | action: screen | target: screen_6
  | + press KEY_7 | action: screen | target: screen_7
  | + press KEY_8 | action: screen | target: screen_8
  | + press KEY_9 | action: screen | target: screen_9
  | + press KEY_0 | action: screen | target: screen_0
  + release KEY_SCREEN | action: strict_arrange

+ press BTN_LEFT | action: drag
  + release BTN_LEFT | action: drop

+ press BTN_LEFT
  + press KEY_1 | action: screen | target: screen_1
  + press KEY_2 | action: screen | target: screen_2
  + press KEY_3 | action: screen | target: screen_3
  + press KEY_4 | action: screen | target: screen_4
  + press KEY_5 | action: screen | target: screen_5
  + press KEY_6 | action: screen | target: screen_6
  + press KEY_7 | action: screen | target: screen_7
  + press KEY_8 | action: screen | target: screen_8
  + press KEY_9 | action: screen | target: screen_9
  + press KEY_0 | action: screen | target: screen_0
  + press KEY_SCREEN
    + press KEY_1 | action: screen | target: screen_1
    + press KEY_2 | action: screen | target: screen_2
    + press KEY_3 | action: screen | target: screen_3
    + press KEY_4 | action: screen | target: screen_4
    + press KEY_5 | action: screen | target: screen_5
    + press KEY_6 | action: screen | target: screen_6
    + press KEY_7 | action: screen | target: screen_7
    + press KEY_8 | action: screen | target: screen_8
    + press KEY_9 | action: screen | target: screen_9
    + press KEY_0 | action: screen | target: screen_0
-
