config
+ parent-provides
  + service ROM
  + service PD
  + service CPU
  + service LOG
  + service Gui
  + service Timer
  + service Report
+ default-route
  + any-service
    + parent
    + any-child
+ default | caps: 100

+ service Gui    | + default-policy | + child wm
+ service Report | + default-policy | + child wm
+ service ROM    | + default-policy | + child wm

+ start report_rom | ram: 4M
  + provides
  | + service Report
  | + service ROM
  + config
    + policy | label: layouter -> window_list       | report: wm -> window_list
    + policy | label: layouter -> focus_request     | report: wm -> focus_request
    + policy | label: layouter -> rules             | report: layouter -> rules
    + policy | label: decorator -> window_layout    | report: layouter -> window_layout
    + policy | label: wm -> resize_request          | report: layouter -> resize_request
    + policy | label: decorator -> pointer          | report: wm -> pointer
    + policy | label: layouter -> hover             | report: decorator -> hover
    + policy | label: layouter -> decorator_margins | report: decorator -> decorator_margins
    + policy | label: wm -> focus                   | report: layouter -> focus

+ start wm | caps: 200 | ram: 3M
  + provides
  | + service Gui
  | + service Report
  | + service ROM
  + config
  | + policy | label_prefix: decorator | role: decorator
  | + policy | label_prefix: layouter  | role: layouter
  | + default-policy
  + route
    + service ROM    | label: resize_request | + child report_rom
    + service ROM    | label: focus          | + child report_rom
    + service Report | label_last: shape     | + parent
    + service Report | label_last: clipboard | + parent
    + service ROM    | label_last: clipboard | + parent
    + service Report                         | + child report_rom
    + service Gui    | label:                | + parent | label: focus
    + any-service
      + child nitpicker
      + parent
      + any-child

+ start layouter | caps: 120 | ram: 4M
  + binary window_layouter
  + route
    + service ROM | label: config            | + parent | label: layouter.config
    + service ROM | label: window_list       | + child report_rom
    + service ROM | label: focus_request     | + child report_rom
    + service ROM | label: hover             | + child report_rom
    + service ROM | label: decorator_margins | + child report_rom
    + service ROM | label: rules             | + child report_rom
    + service Report                         | + child report_rom
    + service Gui                            | + child wm
    + any-service
      + parent
      + any-child

+ start decorator | caps: 450 | ram: 20M
  + binary init
  + route
    + service ROM    | label: config            | + parent | label: decorator_init.config
    + service ROM    | label: window_layout     | + child report_rom
    + service ROM    | label: pointer           | + child report_rom
    + service Report | label: decorator_margins | + child report_rom
    + service Report | label: hover             | + child report_rom
    + service Gui                               | + child wm
    + any-service
      + parent
      + any-child
-
