config

+ parent-provides
  + service ROM
  + service PD
  + service CPU
  + service LOG
  + service Gui
  + service Timer
  + service Report

+ start decorator | caps: 320 | ram: 11M
  + binary themed_decorator
  + config
    + libc
    + vfs | + tar plain_decorator_theme.tar
    + default-policy
  + route
    + service ROM | label: window_layout        | + parent | label: window_layout
    + service ROM | label: pointer              | + parent | label: pointer
    + service Report | label: decorator_margins | + parent | label: decorator_margins
    + service Report | label: hover             | + parent | label: hover
    + any-service                               | + parent
-
