<config>
	<parent-provides>
		<service name="CPU"/>
		<service name="LOG"/>
		<service name="Nic"/>
		<service name="Nitpicker"/>
		<service name="PD"/>
		<service name="Report"/>
		<service name="RM"/>
		<service name="ROM"/>
		<service name="Rtc"/>
		<service name="Timer"/>
	</parent-provides>

	<default-route> <any-service> <parent/> <any-child/> </any-service> </default-route>

	<start name="vfs" caps="250">
		<resource name="RAM" quantum="32M"/>
		<provides> <service name="File_system"/> </provides>
		<config>
			<vfs>
				<dir name="socket"> <lxip dhcp="yes"/> </dir>
			</vfs>
			<default-policy writeable="yes" root="/"/>
		</config>
	</start>

	<start name="arora" caps="9750">
		<resource name="RAM" quantum="480M"/>
		<config>
			<vfs>
				<dir name="dev">
					<jitterentropy name="random"/>
					<log/>
					<rtc/>
				</dir>
				<fs/>
				<tar name="qt5_dejavusans.tar"/>
			</vfs>
			<libc stdout="/dev/log" stderr="/dev/log" rtc="/dev/rtc" socket="/socket"/>
		</config>
		<route>
			<service name="File_system"> <child name="vfs"/> </service>
			<service name="ROM" label="egl_drv.lib.so"> <parent label="egl_swrast.lib.so" /> </service>
			<any-service> <parent /> </any-service>
		</route>
	</start>
</config>
