config
+ parent-provides
  + service CPU
  + service IO_MEM
  + service IO_PORT
  + service IRQ
  + service LOG
  + service PD
  + service RM
  + service ROM
  + service Report
  + service Timer

+ service Usb
  + default-policy
    + child usb

+ start report_rom | caps: 120 | ram: 2M
  + provides
    + service ROM
    + service Report
  + config
    + policy | label: pci_decode -> system | report: acpi -> acpi
    + policy | label: platform -> devices  | report: pci_decode -> devices
  + route
    + service LOG | + parent
    + service PD  | + parent
    + service CPU | + parent
    + service ROM | + parent

+ start acpi | caps: 350 | ram: 7M
  + route
    + service Report | + child report_rom
    + service IO_MEM | + parent
    + service LOG    | + parent
    + service PD     | + parent
    + service RM     | + parent
    + service CPU    | + parent
    + service ROM    | + parent

+ start pci_decode | caps: 350 | ram: 2M
  + route
    + service ROM    | label: system | + child report_rom
    + service Report                 | + child report_rom
    + service IO_MEM                 | + parent
    + service LOG                    | + parent
    + service PD                     | + parent
    + service RM                     | + parent
    + service CPU                    | + parent
    + service ROM                    | + parent

+ start platform | caps: 100 | ram: 2M | managing_system: yes
  + provides | + service Platform
  + config
    + policy | label_prefix: usb | info: yes
      + pci | class: USB
  + route
    + service ROM     | label: devices | + child report_rom
    + service IRQ                      | + parent
    + service IO_MEM                   | + parent
    + service IO_PORT                  | + parent
    + service ROM                      | + parent
    + service PD                       | + parent
    + service CPU                      | + parent
    + service LOG                      | + parent
    + service Timer                    | + parent

+ start usb | caps: 200 | ram: 16M
  + binary pc_usb_host
  + provides | + service Usb
  + route
    + service ROM      | label: config | + parent | label: usb_host.config
    + service Platform                 | + child platform
    + service Report                   | + parent
    + service ROM                      | + parent
    + service PD                       | + parent
    + service RM                       | + parent
    + service CPU                      | + parent
    + service LOG                      | + parent
    + service Timer                    | + parent
-
