<config>
	<parent-provides>
		<service name="IRQ"/>
		<service name="IO_MEM"/>
		<service name="ROM"/>
		<service name="PD"/>
		<service name="CPU"/>
		<service name="LOG"/>
		<service name="Timer"/>
		<service name="Capture"/>
		<service name="Event"/>
	</parent-provides>

	<default caps="100"/>

	<start name="platform" managing_system="yes">
		<resource name="RAM" quantum="2M"/>
		<provides> <service name="Platform"/> </provides>
		<route> <any-service> <parent/> </any-service> </route>
		<config>
			<policy label="fb -> " info="yes">
				<device name="clcd"/>
				<device name="sp810_syscon0"/>
			</policy>

			<policy label="ps2 -> ">
				<device name="pl050"/>
			</policy>
		</config>
	</start>

	<start name="fb">
		<binary name="pl11x_fb"/>
		<resource name="RAM" quantum="4M"/>
		<route>
			<service name="Platform">
				<child name="platform"/>
			</service>
			<service name="ROM">     <parent/> </service>
			<service name="PD">      <parent/> </service>
			<service name="CPU">     <parent/> </service>
			<service name="LOG">     <parent/> </service>
			<service name="Timer">   <parent/> </service>
			<service name="Capture"> <parent/> </service>
		</route>
	</start>

	<start name="ps2">
		<binary name="pl050_input"/>
		<resource name="RAM" quantum="1M"/>
		<provides> <service name="Input"/> </provides>
		<route>
			<service name="Platform"> <child name="platform"/> </service>
			<service name="Event"> <child name="event_filter" label="ps2"/> </service>
			<service name="ROM">   <parent/> </service>
			<service name="PD">    <parent/> </service>
			<service name="CPU">   <parent/> </service>
			<service name="LOG">   <parent/> </service>
			<service name="Timer"> <parent/> </service>
		</route>
	</start>

	<start name="event_filter" caps="90">
		<resource name="RAM" quantum="1280K"/>
		<provides> <service name="Event"/> </provides>
		<route>
			<service name="ROM" label="config">
				<parent label="event_filter.config"/>
			</service>
			<service name="ROM">   <parent/> </service>
			<service name="PD">    <parent/> </service>
			<service name="CPU">   <parent/> </service>
			<service name="LOG">   <parent/> </service>
			<service name="Timer"> <parent/> </service>
			<service name="Event"> <parent/> </service>
		</route>
	</start>

</config>
