<config>
	<parent-provides>
		<service name="IRQ"/>
		<service name="IO_MEM"/>
		<service name="IO_PORT"/>
		<service name="ROM"/>
		<service name="PD"/>
		<service name="CPU"/>
		<service name="LOG"/>
		<service name="Timer"/>
	</parent-provides>

	<service name="Framebuffer">
		<default-policy> <child name="fb_drv"/> </default-policy> </service>

	<service name="Input">
		<default-policy> <child name="ps2_drv"/> </default-policy> </service>

	<start name="fb_drv">
		<resource name="RAM" quantum="4M"/>
		<provides> <service name="Framebuffer"/> </provides>
		<route> <any-service> <parent/> </any-service> </route>
	</start>

	<start name="ps2_drv">
		<resource name="RAM" quantum="1M"/>
		<provides> <service name="Input"/> <service name="Framebuffer"/> </provides>
		<route> <any-service> <parent/> </any-service> </route>
	</start>
</config>
