config
+ parent-provides
  + service IRQ
  + service IO_MEM
  + service ROM
  + service PD
  + service CPU
  + service LOG
  + service Timer
  + service Capture
  + service Event

+ default | caps: 100

+ start platform | managing_system: yes | ram: 2M
  + provides | + service Platform
  + route | + any-service |   + parent
  + config
    + policy | label: ps2 -> | + device pl050
    + policy | label: fb ->  | info: yes
      + device clcd
      + device sp810_syscon0

+ start fb | ram: 4M
  + binary pl11x_fb
  + route
    + service Platform | + child platform
    + service ROM      | + parent
    + service PD       | + parent
    + service CPU      | + parent
    + service LOG      | + parent
    + service Timer    | + parent
    + service Capture  | + parent

+ start ps2 | ram: 1M
  + binary pl050_input
  + provides | + service Input
  + route
    + service Platform | + child platform
    + service Event    | + child event_filter | label: ps2
    + service ROM      | + parent
    + service PD       | + parent
    + service CPU      | + parent
    + service LOG      | + parent
    + service Timer    | + parent

+ start event_filter | caps: 90 | ram: 1280K
  + provides | + service Event
  + route
    + service ROM | label: config | + parent | label: event_filter.config
    + service ROM                 | + parent
    + service PD                  | + parent
    + service CPU                 | + parent
    + service LOG                 | + parent
    + service Timer               | + parent
    + service Event               | + parent
-
