<config>
	<parent-provides>
		<service name="IRQ"/>
		<service name="IO_MEM"/>
		<service name="ROM"/>
		<service name="PD"/>
		<service name="RM"/>
		<service name="CPU"/>
		<service name="LOG"/>
		<service name="Timer"/>
		<service name="Uplink"/>
	</parent-provides>

	<default caps="100"/>

	<start name="platform_drv" caps="150">
		<binary name="imx8mq_platform_drv"/>
		<resource name="RAM" quantum="1M"/>
		<provides> <service name="Platform"/> </provides>
		<config>
			<device name="fec" type="fsl,imx6sx-fec">
				<io_mem   address="0x30be0000" size="0x4000"/>
				<irq      number="152"/>
				<irq      number="151"/>
				<irq      number="150"/>
				<property name="mii"        value="rgmii-id"/>
			</device>
			<policy label="nic_drv -> " info="yes"> <device name="fec"/> </policy>
		</config>
		<route> <any-service> <parent/> </any-service> </route>
	</start>

	<start name="nic_drv" caps="130">
		<binary name="fec_nic_drv"/>
		<resource name="RAM" quantum="20M"/>
		<config mode="uplink_client"/>
		<route>
			<service name="ROM">      <parent/> </service>
			<service name="PD">       <parent/> </service>
			<service name="RM">       <parent/> </service>
			<service name="CPU">      <parent/> </service>
			<service name="LOG">      <parent/> </service>
			<service name="Timer">    <parent/> </service>
			<service name="Uplink">   <parent/> </service>
			<service name="Platform"> <child name="platform_drv"/> </service>
		</route>
	</start>
</config>
