config

+ parent-provides
  + service IRQ
  + service IO_MEM
  + service IO_PORT
  + service ROM
  + service PD
  + service RM
  + service CPU
  + service LOG
  + service Timer
  + service Uplink

+ default | caps: 100 | ram: 1M

+ service Nic | + default-policy | + child nic

+ start acpi | caps: 300 | ram: 4M
  + route
    + service IO_MEM | + parent
    + service LOG    | + parent
    + service PD     | + parent
    + service RM     | + parent
    + service CPU    | + parent
    + service ROM    | + parent
    + service Report | + child report_rom

+ start report_rom | ram: 2M
  + provides
    + service ROM
    + service Report
  + config
    + policy | label: pci_decode -> system | report: acpi -> acpi
    + policy | label: platform -> devices | report: pci_decode -> devices
  + route
    + service LOG | + parent
    + service PD  | + parent
    + service CPU | + parent
    + service ROM | + parent

+ start pci_decode | ram: 2M
  + route
    + service Report              | + child report_rom
    + service ROM | label: system | + child report_rom
    + service IO_MEM              | + parent
    + service LOG                 | + parent
    + service PD                  | + parent
    + service RM                  | + parent
    + service CPU                 | + parent
    + service ROM                 | + parent

+ start platform | caps: 200 | ram: 3M | managing_system: yes
  + provides
    + service Platform
    + service Acpi
  + route
    + service ROM | label: devices | + child report_rom
    + service IRQ                  | + parent
    + service IO_MEM               | + parent
    + service IO_PORT              | + parent
    + service ROM                  | + parent
    + service PD                   | + parent
    + service CPU                  | + parent
    + service LOG                  | + parent
    + service Timer                | + parent
  + config
    + policy | label_prefix: nic | info: yes | + pci | class: ETHERNET

+ start mac_report_rom
  + binary report_rom
  + provides
    + service ROM
    + service Report
  + config | verbose: yes
    + policy | label: nic -> devices | report: nic -> devices
  + route
    + service LOG | + parent
    + service PD  | + parent
    + service CPU | + parent
    + service ROM | + parent

+ start nic | caps: 250 | ram: 10M
  + binary pc_nic
  + route
    + service Platform | + child platform
    + service ROM      | + parent
    + service PD       | + parent
    + service RM       | + parent
    + service CPU      | + parent
    + service LOG      | + parent
    + service Timer    | + parent
    + service Uplink   | + parent
    + service Report   | + child mac_report_rom
  + config
    + report | mac_address: yes
-
