<config key_min_ex="2">

	<map name="lower">
		<row id="0">
			<key id="0"  label="ES" code="27" small="yes"/>
			<key id="1"  char="1"/>
			<key id="2"  char="2"/>
			<key id="3"  char="3"/>
			<key id="4"  char="4"/>
			<key id="5"  char="5"/>
			<key id="6"  char="6"/>
			<key id="7"  char="7"/>
			<key id="8"  char="8"/>
			<key id="9"  char="9"/>
			<key id="10" char="0"/>
			<key id="11" label="BS" code="8" small="yes"/>
		</row>
		<row id="1">
			<key id="0"  char="q"/>
			<key id="1"  char="w"/>
			<key id="2"  char="e"/>
			<key id="3"  char="r"/>
			<key id="4"  char="t"/>
			<key id="5"  char="y"/>
			<key id="6"  char="u"/>
			<key id="7"  char="i"/>
			<key id="8"  char="o"/>
			<key id="9"  char="p"/>
		</row>
		<row id="2">
			<key id="0"  label="TAB" code="9" min_ex="1" small="yes"/>
			<key id="1"  char="a"/>
			<key id="2"  char="s"/>
			<key id="3"  char="d"/>
			<key id="4"  char="f"/>
			<key id="5"  char="g"/>
			<key id="6"  char="h"/>
			<key id="7"  char="j"/>
			<key id="8"  char="k"/>
			<key id="9"  char="l"/>
			<key id="11" char=":"/>
		</row>
		<row id="3">
			<key id="0"  label="ABC" min_ex="3" map="upper" small="yes"/>
			<key id="1"  char="/"/>
			<key id="2"  char="z"/>
			<key id="3"  char="x"/>
			<key id="4"  char="c"/>
			<key id="5"  char="v"/>
			<key id="6"  char="b"/>
			<key id="7"  char="n"/>
			<key id="8"  char="m"/>
			<key id="9"  label="UP" code="0xf700" small="yes"/>
			<key id="10" label="EN" code="10"     small="yes"/>
		</row>
		<row id="4">
			<key id="0"  min_ex="3" label=";:/" map="aux"/>
			<key id="1"  char="?"/>
			<key id="2"  char="!"/>
			<key id="8"  char=","/>
			<key id="9"  char="."/>
			<key id="4"  char=" " min_ex="5"/>
			<key id="3"  char="-"/>
			<key id="5"  label="LF" code="0xf702" small="yes"/>
			<key id="6"  label="DN" code="0xf701" small="yes"/>
			<key id="7"  label="RG" code="0xf703" small="yes"/>
		</row>
	</map>

	<map name="upper">
		<row id="0">
			<key id="0"  label="ES" code="27" small="yes"/>
			<key id="1"  char="1"/>
			<key id="2"  char="2"/>
			<key id="3"  char="3"/>
			<key id="4"  char="4"/>
			<key id="5"  char="5"/>
			<key id="6"  char="6"/>
			<key id="7"  char="7"/>
			<key id="8"  char="8"/>
			<key id="9"  char="9"/>
			<key id="10" char="0"/>
			<key id="11" label="BS" code="8" small="yes"/>
		</row>
		<row id="1">
			<key id="0"  char="Q"/>
			<key id="1"  char="W"/>
			<key id="2"  char="E"/>
			<key id="3"  char="R"/>
			<key id="4"  char="T"/>
			<key id="5"  char="Y"/>
			<key id="6"  char="U"/>
			<key id="7"  char="I"/>
			<key id="8"  char="O"/>
			<key id="9"  char="P"/>
		</row>
		<row id="2">
			<key id="0"  label="TAB" code="9" min_ex="1" small="yes"/>
			<key id="1"  char="A"/>
			<key id="2"  char="S"/>
			<key id="3"  char="D"/>
			<key id="4"  char="F"/>
			<key id="5"  char="G"/>
			<key id="6"  char="H"/>
			<key id="7"  char="J"/>
			<key id="8"  char="K"/>
			<key id="9"  char="L"/>
			<key id="11" char=":"/>
		</row>
		<row id="3">
			<key id="0"  label="abc" min_ex="3" map="lower" small="yes"/>
			<key id="1"  char="/"/>
			<key id="2"  char="Z"/>
			<key id="3"  char="X"/>
			<key id="4"  char="C"/>
			<key id="5"  char="V"/>
			<key id="6"  char="B"/>
			<key id="7"  char="N"/>
			<key id="8"  char="M"/>
			<key id="9"  label="UP" code="0xf700" small="yes"/>
			<key id="10" label="EN" code="10"     small="yes"/>
		</row>
		<row id="4">
			<key id="0"  min_ex="3" label=";:/" map="aux"/>
			<key id="1"  char="?"/>
			<key id="2"  char="!"/>
			<key id="8"  char=","/>
			<key id="9"  char="."/>
			<key id="4"  char=" " min_ex="5"/>
			<key id="3"  char="-"/>
			<key id="5"  label="LF" code="0xf702" small="yes"/>
			<key id="6"  label="DN" code="0xf701" small="yes"/>
			<key id="7"  label="RG" code="0xf703" small="yes"/>
		</row>
	</map>

	<map name="aux">
		<row id="0">
			<key id="0"  label="ES" code="27" small="yes"/>
			<key id="1"  char="1"/>
			<key id="2"  char="2"/>
			<key id="3"  char="3"/>
			<key id="4"  char="4"/>
			<key id="5"  char="5"/>
			<key id="6"  char="6"/>
			<key id="7"  char="7"/>
			<key id="8"  char="8"/>
			<key id="9"  char="9"/>
			<key id="10" char="0"/>
			<key id="11" label="BS" code="8" small="yes"/>
		</row>

		<row id="1">
			<key id="0"  min_ex="2" char="("/>
			<key id="1"  min_ex="2" char=")"/>
			<key id="2"  min_ex="2" char="&lt;"/>
			<key id="3"  min_ex="2" char="&gt;"/>
			<key id="4"  min_ex="2" char=""/>
			<key id="5"  min_ex="2" char="~"/>
			<key id="6"  min_ex="2" char="_"/>
			<key id="7"  min_ex="2" char="="/>
			<key id="8"  min_ex="2" char="`"/>
			<key id="9"  min_ex="2" char="&apos;"/>
			<key id="10" min_ex="2" char="&quot;"/>
			<key id="11" min_ex="2" char=";"/>
		</row>

		<row id="2">
			<key id="0"  min_ex="2" char="{"/>
			<key id="1"  min_ex="2" char="}"/>
			<key id="2"  min_ex="2" char="+"/>
			<key id="3"  min_ex="2" char="-"/>
			<key id="4"  min_ex="2" char=""/>
			<key id="5"  min_ex="2" code="176"/>
			<key id="6"  min_ex="2" code="92"/> <!-- backslash -->
			<key id="7"  min_ex="2" char="?"/>
			<key id="8"  min_ex="2" char="!"/>
			<key id="9"  min_ex="2" char="."/>
			<key id="10" min_ex="2" char=","/>
			<key id="11" min_ex="2" char=":"/>
		</row>

		<row id="3">
			<key id="0"  min_ex="2" char="["/>
			<key id="1"  min_ex="2" char="]"/>
			<key id="2"  min_ex="2" char="*"/>
			<key id="3"  min_ex="2" char="/"/>
			<key id="4"  min_ex="2" char=""/>
			<key id="5"  min_ex="2" char="#"/>
			<key id="6"  min_ex="2" char="%"/>
			<key id="7"  min_ex="2" char="&amp;"/>
			<key id="8"  min_ex="2" char="@"/>
			<key id="9"  min_ex="2" char="$"/>
			<key id="10" min_ex="2" char="^"/>
			<key id="11" min_ex="2" char="|"/>
		</row>

		<row id="4">
			<key id="0"  min_ex="3" label="abc" map="lower"/>
			<key id="1"  char=""/>
			<key id="2"  char=""/>
			<key id="8"  char=""/>
			<key id="9"  char=""/>
			<key id="4"  char="" min_ex="5"/>
			<key id="3"  char=""/>
			<key id="5"  char=""/>
			<key id="6"  char=""/>
			<key id="7"  label=""/>
		</row>
	</map>

</config>
