<config>
	<parent-provides>
		<service name="ROM"/>
		<service name="PD"/>
		<service name="CPU"/>
		<service name="LOG"/>
		<service name="Timer"/>
		<service name="Report"/>
		<service name="File_system"/>
		<service name="Nic"/>
	</parent-provides>

	<default-route>
		<any-service> <parent/> <any-child/> </any-service>
	</default-route>

	<default caps="100"/>

	<start name="report_rom">
		<binary name="report_rom"/>
		<resource name="RAM" quantum="1M"/>
		<provides> <service name="Report"/> <service name="ROM"/> </provides>
		<config verbose="no">
			<policy label="dynamic -> config"
				report="manager -> init_config"/>
			<policy label="manager -> dependencies"
				report="dynamic -> depot_query -> dependencies"/>
			<policy label="manager -> user"
				report="dynamic -> depot_query -> user"/>
			<policy label="manager -> init_state"
				report="dynamic -> state"/>
			<policy label="manager -> verified"
				report="dynamic -> verify -> result"/>
		</config>
	</start>

	<start name="manager">
		<binary name="depot_download_manager"/>
		<resource name="RAM" quantum="1M"/>
		<config/>
		<route>
			<service name="Report"> <child name="report_rom"/> </service>
			<service name="ROM" label="dependencies"> <child name="report_rom"/> </service>
			<service name="ROM" label="user">         <child name="report_rom"/> </service>
			<service name="ROM" label="init_state">   <child name="report_rom"/> </service>
			<service name="ROM" label="verified">     <child name="report_rom"/> </service>
			<any-service> <parent/> <any-child/> </any-service>
		</route>
	</start>

	<start name="dynamic" caps="1000">
		<resource name="RAM" quantum="24M"/>
		<binary name="init"/>
		<route>
			<service name="ROM" label="config"> <child name="report_rom"/> </service>
			<service name="Report"> <child name="report_rom"/> </service>
			<service name="File_system" label="depot">     <parent label="depot"/>     </service>
			<service name="File_system" label="depot_rw">  <parent label="depot_rw"/>  </service>
			<service name="File_system" label="public">    <parent label="public"/>    </service>
			<service name="File_system" label="public_rw"> <parent label="public_rw"/> </service>
			<any-service> <parent/> <any-child/> </any-service>
		</route>
	</start>
</config>
