config

+ parent-provides
  + service ROM
  + service PD
  + service RM
  + service CPU
  + service LOG
  + service Timer
  + service Report
  + service File_system
  + service Nic

+ default-route
  + any-service
    + parent
    + any-child

+ default | caps: 100

+ start report_rom | ram: 2M
  + binary report_rom
  + provides
    + service Report
    + service ROM
  + config | verbose: no
    + policy | label: dynamic -> config            | report: manager -> init_config
    + policy | label: manager -> dependencies      | report: dynamic -> depot_query -> dependencies
    + policy | label: manager -> index             | report: dynamic -> depot_query -> index
    + policy | label: manager -> image             | report: dynamic -> depot_query -> image
    + policy | label: manager -> image_index       | report: dynamic -> depot_query -> image_index
    + policy | label: manager -> user              | report: dynamic -> depot_query -> user
    + policy | label: manager -> init_state        | report: dynamic -> state
    + policy | label: manager -> verified          | report: dynamic -> verify -> result
    + policy | label: manager -> fetchurl_progress | report: dynamic -> fetchurl -> progress

+ start tcpip | caps: 400 | ram: 32M
  + binary vfs
  + provides | + service File_system
  + route | + any-service | + parent
  + config
    + vfs | + dir socket | + lxip | dhcp: yes
    + default-policy | root: / | writeable: yes

+ start depot_ro | ram: 2M
  + binary chroot
  + provides | + service File_system
  + config | + default-policy | path: / | writeable: no
  + route
    + service File_system | + parent | identity: depot
    + any-service         | + parent

+ start public_ro | ram: 2M
  + binary chroot
  + provides | + service File_system
  + config | + default-policy | path: / | writeable: no
  + route
    + service File_system | + parent | identity: public
    + any-service         | + parent

+ start manager | ram: 2M
  + binary depot_download_manager
  + exit | propagate: yes
  + config
  + route
    + service Report | label: state          | + parent | label: state
    + service Report                         | + child report_rom
    + service ROM | label: dependencies      | + child report_rom
    + service ROM | label: index             | + child report_rom
    + service ROM | label: image             | + child report_rom
    + service ROM | label: image_index       | + child report_rom
    + service ROM | label: user              | + child report_rom
    + service ROM | label: init_state        | + child report_rom
    + service ROM | label: verified          | + child report_rom
    + service ROM | label: fetchurl_progress | + child report_rom
    + any-service
      + parent
      + any-child

+ start dynamic | caps: 1000 | ram: 26M
  + binary init
  + route
    + service ROM | label: config                      | + child report_rom
    + service Report                                   | + child report_rom
    + service File_system | label_prefix: depot ->     | + child depot_ro
    + service File_system | label_prefix: depot_rw ->  | + parent | identity: depot
    + service File_system | label_prefix: public ->    | + child public_ro
    + service File_system | label_prefix: public_rw -> | + parent | identity: public
    + service File_system | label_prefix: tcpip ->     | + child tcpip
    + any-service
      + parent
      + any-child
-
