config | verbose: true
+ parent-provides
  + service IRQ
  + service IO_MEM
  + service ROM
  + service PD
  + service RM
  + service CPU
  + service LOG
  + service Timer
  + service Uplink

+ default | caps: 100

+ start virtdev_rom | ram: 640K
  + provides | + service ROM
  + route | + any-service | + parent

+ start platform | managing_system: yes | ram: 2M
  + provides | + service Platform
  + route
    + service ROM | label: devices | + child virtdev_rom
    + any-service                  | + parent
  + config
    + policy | label_prefix: virtio_mmio_nic | info: yes | + device nic0

+ start virtio_mmio_nic | ram: 5M
  + route
    + service Platform | + child platform
    + service CPU      | + parent
    + service LOG      | + parent
    + service PD       | + parent
    + service ROM      | + parent
    + service Uplink   | + parent
-
