<config verbose="true">
	<parent-provides>
		<service name="IRQ"/>
		<service name="IO_MEM"/>
		<service name="ROM"/>
		<service name="PD"/>
		<service name="RM"/>
		<service name="CPU"/>
		<service name="LOG"/>
		<service name="Timer"/>
		<service name="Uplink"/>
	</parent-provides>

	<default caps="100"/>

	<start name="virtdev_rom">
		<resource name="RAM" quantum="640K"/>
		<provides> <service name="ROM"/> </provides>
		<route> <any-service> <parent/> </any-service> </route>
	</start>

	<start name="platform" managing_system="yes">
		<resource name="RAM" quantum="2M"/>
		<provides> <service name="Platform"/> </provides>
		<route>
			<service name="ROM" label="devices">
				<child name="virtdev_rom"/>
			</service>
			 <any-service> <parent/> </any-service>
		</route>
		<config>
			<policy label_prefix="virtio_mmio_nic" info="yes">
				<device name="nic0"/>
			</policy>
		</config>
	</start>

	<start name="virtio_mmio_nic">
		<resource name="RAM" quantum="5M"/>
		<route>
			<service name="Platform">
				<child name="platform"/>
			</service>
			<service name="CPU">    <parent/> </service>
			<service name="LOG">    <parent/> </service>
			<service name="PD">     <parent/> </service>
			<service name="ROM">    <parent/> </service>
			<service name="Uplink"> <parent/> </service>
		</route>
	</start>

</config>
